{% extends "_layouts/cp.twig" %}

{% set title = "Consent record" %}
{% set selectedSubnavItem = 'consentRecords' %}

{% set crumbs = [
    { label: 'Cookie banner'|t, url: url('cookie-banner') },
    { label: 'Consent records'|t, url: url('cookie-banner/consent-records') },
    { label: element.id, url: url('cookie-banner/consent-records/' ~ element.id) },
] %}

{% set recentConsentRecords = matchingConsentRecords|slice(-3) %}

{% block content %}
    <h2>Consent history</h2>

    <table class="data">
        <thead>
            <th></th>
            <th>{{ "Default"|t("cookie-banner") }}</th>
            {% for consentRecord in recentConsentRecords %}
                <th>{{ consentRecord.consentTimestamp|date("d/m/Y") }}</th>
            {% endfor %}
            <th>{{ "Current"|t("cookie-banner") }}</th>
        </thead>
        <tbody>
            <tr>
                <td class="ccb-semi-bold">{{ "Necessary"|t("cookie-banner") }}</td>
                <td><span class="status-chip granted">{{ "granted"|t("cookie-banner") }}</span></td>
                {% for consentRecord in recentConsentRecords %}
                    {% set necessaryCookiesConsent = consentRecord.necessaryCookies ? 'granted' : 'denied' %}
                    <td><span class="status-chip {{ necessaryCookiesConsent }}">{{ necessaryCookiesConsent }}</span></td>
                    {% if loop.last %}
                        <td><span class="status-chip {{ necessaryCookiesConsent }}">{{ necessaryCookiesConsent }}</span></td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <td class="ccb-semi-bold">{{ "Preference"|t("cookie-banner") }}</td>
                <td><span class="status-chip denied">{{ "denied"|t("cookie-banner") }}</span></td>
                {% for consentRecord in recentConsentRecords %}
                    {% set preferenceCookiesConsent = consentRecord.preferenceCookies ? 'granted' : 'denied' %}
                    <td><span class="status-chip {{ preferenceCookiesConsent }}">{{ preferenceCookiesConsent }}</span></td>
                    {% if loop.last %}
                        <td><span class="status-chip {{ preferenceCookiesConsent }}">{{ preferenceCookiesConsent }}</span></td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <td class="ccb-semi-bold">{{ "Analytical"|t("cookie-banner") }}</td>
                <td><span class="status-chip denied">{{ "denied"|t("cookie-banner") }}</span></td>
                {% for consentRecord in recentConsentRecords %}
                    {% set analyticalCookiesConsent = consentRecord.analyticalCookies ? 'granted' : 'denied' %}
                    <td><span class="status-chip {{ analyticalCookiesConsent }}">{{ analyticalCookiesConsent }}</span></td>
                    {% if loop.last %}
                        <td><span class="status-chip {{ analyticalCookiesConsent }}">{{ analyticalCookiesConsent }}</span></td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <td class="ccb-semi-bold">{{ "Marketing"|t("cookie-banner") }}</td>
                <td><span class="status-chip denied">{{ "denied"|t("cookie-banner") }}</span></td>
                {% for consentRecord in recentConsentRecords %}
                    {% set marketingCookiesConsent = consentRecord.marketingCookies ? 'granted' : 'denied' %}
                    <td><span class="status-chip {{ marketingCookiesConsent }}">{{ marketingCookiesConsent }}</span></td>
                    {% if loop.last %}
                        <td><span class="status-chip {{ marketingCookiesConsent }}">{{ marketingCookiesConsent }}</span></td>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <td class="ccb-semi-bold">{{ "Uncategorized"|t("cookie-banner") }}</td>
                <td><span class="status-chip denied">{{ "denied"|t("cookie-banner") }}</span></td>
                {% for consentRecord in recentConsentRecords %}
                    {% set uncategorizedCookiesConsent = consentRecord.uncategorizedCookies ? 'granted' : 'denied' %}
                    <td><span class="status-chip {{ uncategorizedCookiesConsent }}">{{ uncategorizedCookiesConsent }}</span></td>
                    {% if loop.last %}
                        <td><span class="status-chip {{ uncategorizedCookiesConsent }}">{{ uncategorizedCookiesConsent }}</span></td>
                    {% endif %}
                {% endfor %}
            </tr>
        </tbody>
    </table>

    <hr>

    <h2>{{ 'Additional info'|t('cookie-banner') }}</h2>

    <p><strong>{{ 'IP Address Hash'|t('cookie-banner') }}:</strong> {{ element.ipAddressHash }}</p>
    <p><strong>{{ 'Craft session ID'|t('cookie-banner') }}:</strong> {{ element.sessionId }}</p>
    <p><strong>{{ 'User Agent'|t('cookie-banner') }}:</strong> {{ element.userAgent }}</p>
    <p><strong>{{ 'Language'|t('cookie-banner') }}:</strong> {{ element.language }}</p>
    <p><strong>{{ 'Consent Timestamp'|t('cookie-banner') }}:</strong> {{ element.consentTimestamp ? element.consentTimestamp|date("d F Y H:i") }}</p>
    <p><strong>{{ 'Consent Action'|t('cookie-banner') }}:</strong> {{ element.consentAction }}</p>
    <p><strong>{{ 'Consent Method'|t('cookie-banner') }}:</strong> {{ element.consentMethod }}</p>

    <hr>

    <h2>{{ 'Banner & Policies'|t('cookie-banner') }}</h2>

    <p><strong>{{ 'Banner'|t('cookie-banner') }}:</strong> {{ element.bannerVersion }}</p>
    <p><strong>{{ 'Privacy Policy'|t('cookie-banner') }}:</strong> {{ element.privacyPolicyVersion }}</p>
    <p><strong>{{ 'Cookie Policy'|t('cookie-banner') }}:</strong> {{ element.cookiePolicyVersion }}</p>
{% endblock %}