
{% extends '_layouts/elementindex' %}

{% set title = 'Consent records' %}
{% set selectedSubnavItem = 'consentRecords' %}

{% set crumbs = [
    { label: 'Cookie banner'|t("cookie-banner"), url: url('cookie-banner') },
    { label: 'Consent records'|t("cookie-banner"), url: url('cookie-banner/consent-records') },
] %}

{% set elementType = 'digitalastronaut\\craftcookiebanner\\elements\\ConsentRecord' %}

{% block content %}
    <div class="ccb-consent-overview">
        <h2>{{ "Consent statistics"|t("cookie-banner") }}</h2>

        <ul class="ccb-consent-overview-list">
            <li class="ccb-consent-overview-list-item">
                <h3>{{ "Essential"|t("cookie-banner") }}</h3>
                <p class="ccb-semi-bold">{{ consentStatistics.acceptedNecessaryCookiesPercentage }}%</p>
            </li>
            <li class="ccb-consent-overview-list-item">
                <h3>{{ "Functional"|t("cookie-banner") }}</h3>
                <p class="ccb-semi-bold">{{ consentStatistics.acceptedPreferenceCookiesPercentage }}%</p>
            </li>
            <li class="ccb-consent-overview-list-item">
                <h3>{{ "Analytical"|t("cookie-banner") }}</h3>
                <p class="ccb-semi-bold">{{ consentStatistics.acceptedAnalyticalCookiesPercentage }}%</p>
            </li>
            <li class="ccb-consent-overview-list-item">
                <h3>{{ "Advertisement"|t("cookie-banner") }}</h3>
                <p class="ccb-semi-bold">{{ consentStatistics.acceptedMarketingCookiesPercentage }}%</p>
            </li>
            <li class="ccb-consent-overview-list-item">
                <h3>{{ "Personalization"|t("cookie-banner") }}</h3>
                <p class="ccb-semi-bold">{{ consentStatistics.acceptedUncategorizedCookiesPercentage }}%</p>
            </li>
        </ul>
    </div>
    
    <div class="main element-index">
        <span class="visually-hidden" role="status" data-status-message></span>
        <a class="skip-link btn" href="#footer">{{ 'Skip to footer'|t('app') }}</a>
        <div id="elements" class="elements busy">
            <div class="update-spinner spinner spinner-absolute"></div>
        </div>
    </div>
{% endblock %}