{% extends "_layouts/cp.twig" %}

{% import '_includes/forms.twig' as forms %}

{% set title = "Cookies and vendors"|t('cookie-banner') %}
{% set selectedSubnavItem = 'cookiesAndVendors' %}

{% set crumbs = [
    { label: 'Cookie banner'|t('cookie-banner'), url: url('cookie-banner') },
    { label: 'Cookies and vendors'|t('cookie-banner'), url: url('cookie-banner/cookies-and-vendors') },
] %}

{% set selectedTab = 'cookies' %}

{% set tabs = {
    cookies: {
        label: 'Cookies'|t('cookie-banner'),
        url: '#cookies',
    },
    vendors: {
        label: 'Vendors'|t('cookie-banner'),
        url: '#vendors',
    },
} %}

{% set additionalButtons %}
    <a href="{{ url('cookie-banner/cookies-and-vendors/create-cookie') }}" class="btn add icon">
        {{ "Add a new cookie"|t('cookie-banner') }}
    </a>

    <a href="{{ url('cookie-banner/cookies-and-vendors/create-vendor') }}" class="btn add icon">
        {{ "Add a new vendor"|t('cookie-banner') }}
    </a>
{% endset %}

{% block content %}
    <div id="cookies">
        <div class="ccb-compliancy-checklist">
            <h2>{{ "Manage your cookies"|t("cookie-banner") }}</h2>
            
            <div class="ccb-detected-cookies-legend">
                <p>{{ "Status of each cookie per site for the cookie banner"|t("cookie-banner") }}</p>

                <div>
                    <div class="status-chip not-defined">{{ "Not defined"|t("cookie-banner") }}</div>
                    <div class="status-chip detected">{{ "Detected from browser storage"|t("cookie-banner") }}</div>
                    <div class="status-chip defined-incomplete">{{ "Defined but incomplete"|t("cookie-banner") }}</div>
                    <div class="status-chip defined">{{ "Defined completely"|t("cookie-banner") }}</div>
                    <div class="status-chip disabled">{{ "Disabled"|t("cookie-banner") }}</div>
                </div>
            </div>

            <div class="ccb-detected-cookies-table">
                <table class="data">
                    <thead>
                        <th>{{ "Actions"|t("cookie-banner") }}</th>
                        <th>{{ "Automated"|t("cookie-banner") }}</th>
                        <th>{{ "Cookie name"|t("cookie-banner") }}</th>
                        <th>{{ "Current value"|t("cookie-banner") }}</th>
                        <th>{{ "Cookie definition status"|t("cookie-banner") }}</th>
                    </thead>

                    <tbody>
                        {% for cookie in getCookieDetectionOverviewData() %}
                            <tr class="{{ cookie.isControlPanelCookie ? "disabled" : "" }}">
                                <td>
                                    <div class="ccb-compliancy-checklist-item-actions">
                                        <div class="ccb-actions-menu">
                                            <button class="btn btn-submit">
                                                {{ "Actions"|t("cookie-banner") }}

                                                {{ svg("@digitalastronaut/craftcookiebanner/web/icons/chevron-down.svg") }}
                                            </button>

                                            <div class="ccb-actions-menu-content visible">
                                                <ul>
                                                    {% if cookie.isAutomated and cookie.onlyInBrowserCookies %}
                                                        <li class="ccb-actions-menu-option">
                                                            <form method="post">
                                                                {{ csrfInput() }}
                                                                {{ actionInput("cookie-banner/cookies-and-vendors/auto-add-cookie") }}
                                                                {{ hiddenInput('cookieName', cookie.name) }}

                                                                <button>{{ "Automatically add this cookie"|t("cookie-banner") }}</button>
                                                            </form>
                                                        </li>
                                                    {% endif %}

                                                    {% if cookie.onlyInBrowserCookies %}
                                                        <li class="ccb-actions-menu-option">
                                                            <a 
                                                                title="Manually edit this cookie for all sites"
                                                                href="{{ cpUrl('cookie-banner/cookies-and-vendors/create-cookie?autoFillCookie=' ~ cookie.name) }}"
                                                            >
                                                                {{ "Manually add this cookie"|t("cookie-banner") }}
                                                            </a>
                                                        </li>
                                                    {% endif %}

                                                    {% if not cookie.onlyInBrowserCookies %}
                                                        <li class="ccb-actions-menu-option">
                                                            <a 
                                                                title="Manually edit this cookie for all sites"
                                                                href="{{ cpUrl('cookie-banner/cookies-and-vendors/edit-cookie/' ~ cookie.name )}}"
                                                            >
                                                                {{ "Edit this cookie for all sites"|t('cookie-banner') }}
                                                            </a>
                                                        </li>
                                                    {% endif %}
                                                    
                                                    {% if not cookie.onlyInBrowserCookies %}
                                                        <li class="ccb-actions-menu-option danger">
                                                            <form method="post">
                                                                {{ csrfInput() }}
                                                                {{ actionInput("cookie-banner/cookies-and-vendors/delete-cookie-for-all-sites") }}
                                                                {{ hiddenInput('cookieName', cookie.name) }}

                                                                <button>{{ "Remove this cookie for all sites"|t("cookie-banner") }}</button>
                                                            </form>
                                                        </li>
                                                    {% endif %}

                                                    {% if cookie.onlyInBrowserCookies %}
                                                        <li class="ccb-actions-menu-option danger">
                                                            <form method="post">
                                                                {{ csrfInput() }}
                                                                {{ actionInput("cookie-banner/cookies-and-vendors/blacklist-cookie") }}
                                                                {{ hiddenInput('cookieName', cookie.name) }}

                                                                <button>{{ "Blacklist this cookie"|t("cookie-banner") }}</button>
                                                            </form>
                                                        </li>
                                                    {% endif %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </td>

                                <td class="centered">
                                    {% if cookie.isAutomated %}
                                        <span class="checkbox-icon" title="Enabled" role="img" aria-label="Enabled"></span>
                                    {% endif %}
                                </td>

                                <td class="ccb-semi-bold">{{ cookie.name|truncate(30) }}</td>

                                <td>{{ cookie.currentValue|truncate(20) }}</td>

                                {% if cookie.isControlPanelCookie %}
                                    <td>
                                        <div class="status-chip">{{ "Used by the control panel internally"|t("cookie-banner") }}</div>
                                    </td>
                                {% elseif cookie.onlyInBrowserCookies %}
                                    <td>
                                        <div class="inline-chips">
                                            <div class="status-chip not-defined">{{ "Not defined"|t("cookie-banner") }}</div>
                                            <div class="status-chip detected">{{ "Detected from browser storage"|t("cookie-banner") }}</div>
                                        </div>
                                    </td>
                                {% else %}
                                    <td>
                                        <defenition-status-chips class="inline-chips">
                                            {% set result = checkCookieDefinitionForEachSite(cookie.name) %}

                                            {% for language, isDefined in result %}
                                                <div class="status-chip {{ isDefined }}">{{ language }}</div>
                                            {% endfor %}

                                            {% if result|length > 5 %}
                                                <div class="status-chip chip-controls">Show {{ result|length - 5 }} more</div>
                                            {% endif %}
                                        </defenition-status-chips>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="vendors" class="hidden">
        <div class="ccb-vendors">
            <h2>{{ "Manage your vendors"|t("cookie-banner") }}</h2>

            <div class="ccb-detected-cookies-legend">
                <p>{{ "Status of each vendor per site for the cookie banner"|t("cookie-banner") }}</p>

                <div>
                    <div class="status-chip not-defined">{{ "Not defined"|t("cookie-banner") }}</div>
                    <div class="status-chip detected">{{ "Suggested based on existing cookie"|t("cookie-banner") }}</div>
                    <div class="status-chip defined-incomplete">{{ "Defined but incomplete"|t("cookie-banner") }}</div>
                    <div class="status-chip defined">{{ "Defined completely"|t("cookie-banner") }}</div>
                    <div class="status-chip disabled">{{ "Disabled"|t("cookie-banner") }}</div>
                </div>
            </div>

            <div class="ccb-vendors-table">
                <table class="data">
                    <thead>
                        <th>{{ "Actions"|t("cookie-banner") }}</th>
                        <th class="centered">{{ "Automated"|t("cookie-banner") }}</th>
                        <th>{{ "Name"|t("cookie-banner") }}</th>
                        <th>{{ "URL"|t("cookie-banner") }}</th>
                        <th>{{ "Vendor definition status"|t("cookie-banner") }}</th>
                    </thead>

                    <tbody>
                        {% for vendor in getVendorOverview() %}
                            <tr>
                                <td>
                                    <div class="ccb-actions-menu">
                                        <button class="btn btn-submit">
                                            {{ "Actions"|t("cookie-banner") }}

                                            {{ svg("@digitalastronaut/craftcookiebanner/web/icons/chevron-down.svg") }}
                                        </button>

                                        <div class="ccb-actions-menu-content visible">
                                            <ul>
                                                {% if vendor.isAutomated and vendor.isSuggestion %}
                                                    <li class="ccb-actions-menu-option">
                                                        <form method="post">
                                                            {{ csrfInput() }}
                                                            {{ actionInput("cookie-banner/cookies-and-vendors/auto-add-vendor") }}
                                                            {{ hiddenInput('vendorName', vendor.name) }}

                                                            <button>{{ "Automatically add this vendor"|t("cookie-banner") }}</button>
                                                        </form>
                                                    </li>
                                                {% endif %}

                                                {% if vendor.isSuggestion %}
                                                    <li class="ccb-actions-menu-option">
                                                        <a 
                                                            title="{{ "Manually add this vendor"|t("cookie-banner") }}"
                                                            href="{{ cpUrl('cookie-banner/cookies-and-vendors/create-vendor?autoFillVendor=' ~ vendor.name) }}"
                                                        >
                                                            {{ "Manually add this vendor"|t("cookie-banner") }}
                                                        </a>
                                                    </li>
                                                {% endif %}

                                                {% if not vendor.isSuggestion %}
                                                    <li class="ccb-actions-menu-option">
                                                        <a 
                                                            title="{{ "Manually edit this vendor for all sites"|t("cookie-banner") }}"
                                                            href="{{ cpUrl('cookie-banner/cookies-and-vendors/edit-vendor/' ~ vendor.name )}}"
                                                        >
                                                            {{ "Manually edit this vendor for all sites"|t("cookie-banner") }}
                                                        </a>
                                                    </li>
                                                {% endif %}
                                                
                                                {% if not vendor.isSuggestion %}
                                                    <li class="ccb-actions-menu-option danger">
                                                        <form method="post">
                                                            {{ csrfInput() }}
                                                            {{ actionInput("cookie-banner/cookies-and-vendors/delete-vendor-for-all-sites") }}
                                                            {{ hiddenInput('vendorName', vendor.name) }}

                                                            <button>{{ "Remove this vendor for all sites"|t("cookie-banner") }}</button>
                                                        </form>
                                                    </li>
                                                {% endif %}

                                                {% if vendor.isSuggestion %}
                                                    <li class="ccb-actions-menu-option danger">
                                                        <form method="post">
                                                            {{ csrfInput() }}
                                                            {{ actionInput("cookie-banner/cookies-and-vendors/blacklist-vendor") }}
                                                            {{ hiddenInput('vendorName', vendor.name) }}

                                                            <button>{{ "Blacklist this vendor"|t("cookie-banner") }}</button>
                                                        </form>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                </td>

                                <td class="centered">
                                    <span class="checkbox-icon" title="Enabled" role="img" aria-label="Enabled"></span>
                                </td>

                                <td class="ccb-semi-bold">{{ vendor.name|truncate(30) }}</td>

                                <td>
                                    {% if vendor.url %}
                                        <a href="{{ vendor.url }}">{{ vendor.url|truncate(30) }}</a>
                                    {% endif %}
                                </td>

                                {% if vendor.isSuggestion %}
                                    <td>
                                        <div class="inline-chips">
                                            <div class="status-chip not-defined">Not defined</div>
                                            <div class="status-chip detected">{{ "Suggested based on existing cookie"|t("cookie-banner") }}</div>
                                        </div>
                                    </td>
                                {% else %}
                                    <td>
                                        <defenition-status-chips class="inline-chips">
                                            {% set result = checkVendorDefinitionForEachSite(vendor.name) %}

                                            {% for language, isDefined in result %}
                                                <div class="status-chip {{ isDefined }}">{{ language }}</div>
                                            {% endfor %}

                                            {% if result|length > 5 %}
                                                <div class="status-chip chip-controls">Show {{ result|length - 5 }} more</div>
                                            {% endif %}
                                        </defenition-status-chips>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}