{% extends "_layouts/cp.twig" %}

{% import '_includes/forms.twig' as forms %}

{% set title = "Edit the " ~ cookieForEachSite[0].name ~ " cookie for all sites" %}
{% set selectedSubnavItem = 'compliancyChecklist' %}
{% set fullPageForm = true %}

{% set crumbs = [
    { label: 'Cookie banner'|t, url: url('cookie-banner') },
    { label: 'Cookies and vendors'|t, url: url('cookie-banner/cookies-and-vendors') },
    { label: 'Manually edit cookie'|t },
] %}

{% block content %}
    <div class="ccb-edit-cookie">
        <div class="flex-fields">
            <div class="field width-50">
                {{ forms.textField({
                    label: 'Cookie name',
                    id: 'name',
                    name: 'name',
                    value: cookieForEachSite[0]['name'],
                    placeholder: 'Name of the cookie you want to add',
                }) }}
            </div>

            <input type="hidden" name="currentCategory" value="{{ cookieForEachSite[0]['category'] }}">

            <div class="field width-25">
                {{ forms.selectField({
                    label: 'Category',
                    id: 'category',
                    name: 'category',
                    options: [
                        { 'label': 'Necessary cookies', 'value': 'necessaryCookies' },
                        { 'label': 'Preference cookies', 'value': 'preferenceCookies' },
                        { 'label': 'Analytical cookies', 'value': 'analyticalCookies' },
                        { 'label': 'Marketing cookies', 'value': 'marketingCookies' },
                        { 'label': 'Uncategorized cookies', 'value': 'uncategorizedCookies' }
                    ],
                    value: cookieForEachSite[0]['category'],
                }) }}
            </div>
            
            <div class="field width-25">
                {{ forms.selectField({
                    label: 'Vendor',
                    id: 'vendor',
                    name: 'vendor',
                    options: getVendorSelectFieldOptions(),
                    value: cookieForEachSite[0]['vendor'],
                }) }}
            </div>

            <hr>

            <div class="field width-100">
                {{ forms.editableTableField({
                    id: 'cookieForEachSite',
                    name: 'fields[cookieForEachSite]',
                    cols: {
                        siteName: { 
                            heading: "Site", 
                            type: "singleline",
                            width: '15%',
                        },
                        name: { 
                            heading: "Cookie Name", 
                            type: "singleline",
                        },
                        vendor: { 
                            heading: "Vendor", 
                            type: "select",
                            options: getVendorSelectFieldOptions()
                        },
                        purpose: { 
                            heading: "Purpose", 
                            type: "multiline",
                        },
                        expiration: { 
                            heading: "Expiration", 
                            type: "singleline",
                        },
                        enabled: {
                            heading: "Enabled for this site",
                            type: "lightswitch",
                            width: '10%',
                        }
                    },
                    rows: cookieForEachSite,
                    allowAdd: false,
                    allowDelete: false,
                    allowReorder: false,
                    staticRows: true,
                }) }}
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const masterInput = document.getElementById('name');
            const masterVendor = document.getElementById('vendor');

            const lightswitches = document.querySelectorAll(
                'button.lightswitch[aria-labelledby="cookieForEachSites-heading-6"]'
            );

            lightswitches.forEach((lightswitch) => {
                const tableRow = lightswitch.parentNode.parentNode;

                const isEnabled = lightswitch.getAttribute('aria-checked') === 'true';
                if (!isEnabled) tableRow.classList.toggle('uneditable');

                lightswitch.addEventListener('click', function (event) {
                    tableRow.classList.toggle('uneditable');
                });
            });

            if (masterInput) {
                masterInput.addEventListener('input', function () {
                    const value = this.value;

                    const tableInputs = document.querySelectorAll(
                        '[name^="fields[cookieForEachSite]"][name$="[name]"]'
                    );

                    tableInputs.forEach(input => {
                        const preview = input.previousElementSibling;

                        if (preview && preview.classList.contains('editable-table-preview')) {
                            preview.textContent = value;
                        }

                        input.value = value;
                    });
                });
            }

            if (masterVendor) {
                masterVendor.addEventListener('change', function () {
                    const value = this.value;

                    const tableSelects = document.querySelectorAll(
                        'select[name^="fields[cookieForEachSite]"][name$="[vendor]"]'
                    );

                    tableSelects.forEach(select => select.value = value);
                });
            }
        });
    </script>
{% endblock %}