{# ======================= #}
{# PROPERTIES              #}
{# ======================= #}
{% extends "_layouts/cp.twig" %}

{% import '_includes/forms.twig' as forms %}

{% set settings = settings|default([]) %}
{% set fullPageForm = true %}
{% set title = "Settings"|t("cookie-banner") %}
{% set selectedSubnavItem = 'settings' %}

{% set crumbs = [
    { label: 'Cookie banner'|t("cookie-banner"), url: url('cookie-banner') },
    { label: 'Settings'|t("cookie-banner"), url: url('cookie-banner/settings') },
] %}

{# ======================= #}
{# TEMPLATE                #}
{# ======================= #}
{% block content %}
    {{ actionInput('plugins/save-plugin-settings') }}
    {{ hiddenInput('pluginHandle', 'cookie-banner') }}
    {{ hiddenInput('siteId', currentSite) }}

    <div class="flex-fields">
        <h2>{{ 'General'|t("cookie-banner") }}</h2>

        <div class="field width-25">
            {{ forms.lightswitchField({
                label: 'Cookie banner'|t("cookie-banner"),
                instructions: 'Show the banner on the frontend'|t("cookie-banner"),
                id: 'cookieBannerEnabled',
                offLabel: 'Disabled'|t("cookie-banner"),
                onLabel: 'Enabled'|t("cookie-banner"),
                name: 'settings[cookieBannerEnabled]',
                on: settings.cookieBannerEnabled,
            }) }}
        </div>

        <div class="field width-50">
            {{ forms.buttonGroupField({
                label: 'Consent records retention'|t("cookie-banner"),
                instructions: 'This determines how long consent records are kept before being hard deleted'|t("cookie-banner"),
                warning: 'If you set this to a lower value than the current value you risk losing consent records'|t("cookie-banner"),
                id: 'consentRecordRetention',
                name: 'settings[consentRecordRetention]',
                value: settings.consentRecordRetention,
                options: [
                    { label: '1 Week'|t("cookie-banner"), value: 'oneWeek' },
                    { label: '1 Month'|t("cookie-banner"), value: 'oneMonth' },
                    { label: '6 Months'|t("cookie-banner"), value: 'sixMonths' },
                    { label: '1 Year'|t("cookie-banner"), value: 'oneYear' },
                    { label: '5 Years'|t("cookie-banner"), value: 'fiveYears' },
                ]
            }) }}
        </div>

        <hr>

        <div class="width-50">
            <h2>{{ "Versioning"|t("cookie-banner") }}</h2>

            <p>{{ "Versions get saved to consent records so you can see what version of banner an legal pages where active at the time of consent"|t("cookie-banner") }}</p>
        </div>

        <div class="line-break"></div>

        <div class="field width-25">
            {{ forms.textField({
                label: 'Cookie banner'|t("cookie-banner"),
                id: 'bannerVersion',
                name: 'settings[bannerVersion]',
                value: settings.bannerVersion,
                placeholder: 'Version'|t("cookie-banner"),
            }) }}
        </div>

        <div class="field width-25">
            {{ forms.textField({
                label: 'Privacy policy'|t("cookie-banner"),
                id: 'privacyPolicyVersion',
                name: 'settings[privacyPolicyVersion]',
                value: settings.privacyPolicyVersion,
                placeholder: 'Version'|t("cookie-banner"),
            }) }}
        </div>

        <div class="field width-25">
            {{ forms.textField({
                label: 'Cookie policy'|t("cookie-banner"),
                id: 'cookiePolicyVersion',
                name: 'settings[cookiePolicyVersion]',
                value: settings.cookiePolicyVersion,
                placeholder: 'Version'|t("cookie-banner"),
            }) }}
        </div>

        <hr>

        <div class="width-50">
            <h2>{{ "Blacklisted cookies"|t("cookie-banner") }}</h2>

            <p>{{ "Cookies that should be ignored by the cookie detector. Specify the name of the cookie and use the * operator for generated pieces of a cookie"|t("cookie-banner") }}</p>
        </div>

        <div class="width-50">
            <h2>{{ "Blacklisted vendors"|t("cookie-banner") }}</h2>

            <p>{{ "Vendors that should not be suggested based on existing cookies"|t("cookie-banner") }}</p>
        </div>

        <div class="field width-50">
            {{ forms.editableTableField({
                id: 'blacklistedCookies',
                name: 'settings[blacklistedCookies]',
                cols: {
                    name: { heading: "Name"|t("cookie-banner"), type: "singleline" },
                },
                rows: settings.blacklistedCookies ?? [],
                allowReorder: true,
                allowAdd: true,
                allowDelete: true,
            }) }}
        </div>

        <div class="field width-50">
            {{ forms.editableTableField({
                id: 'blacklistedVendors',
                name: 'settings[blacklistedVendors]',
                cols: {
                    name: { heading: "Name"|t("cookie-banner"), type: "singleline" },
                },
                rows: settings.blacklistedVendors ?? [],
                allowReorder: true,
                allowAdd: true,
                allowDelete: true,
            }) }}
        </div>
    </div>
{% endblock %}
