{% extends "_layouts/cp.twig" %}

{% import '_includes/forms.twig' as forms %}

{% set title = "Appearance"|t("cookie-banner") %}
{% set selectedSubnavItem = 'appearance' %}
{% set fullPageForm = true %}

{% set crumbs = [
    { label: 'Cookie banner'|t("cookie-banner"), url: url('cookie-banner') },
    { label: 'Consent records'|t("cookie-banner"), url: url('cookie-banner/appearance') },
] %}

{% block content %}
    {{ actionInput('plugins/save-plugin-settings') }}
    {{ hiddenInput('pluginHandle', 'cookie-banner') }}

    <div class="flex-fields">
        <h2>{{ 'Layout options'|t("cookie-banner") }}</h2>

        <div class="field width-50">
            {{ forms.lightswitchField({
                label: 'Cookie categories preview'|t("cookie-banner"),
                instructions: "This allows users to manage consent without clicking the 'Determine preferences' button/link."|t("cookie-banner"),
                id: 'showCookieCategoriesPreview',
                offLabel: 'Disabled'|t("cookie-banner"),
                onLabel: 'Enabled'|t("cookie-banner"),
                name: 'settings[showCookieCategoriesPreview]',
                on: settings.showCookieCategoriesPreview,
            }) }}
        </div>

        <div class="line-break"></div>

        <div class="field width-50">
            {{ forms.lightswitchField({
                label: 'Cookie tables/groups'|t("cookie-banner"),
                instructions: "If you prefer listing your cookies on a seperate cookie policy page you can disable this toggle to prevent them showing inside the of the cookie banner."|t("cookie-banner"),
                id: 'showCookieTables',
                offLabel: 'Disabled'|t("cookie-banner"),
                onLabel: 'Enabled'|t("cookie-banner"),
                name: 'settings[showCookieTables]',
                on: settings.showCookieTables,
            }) }}
        </div>

        <div class="line-break"></div>

        <div class="field width-50">
            {{ forms.buttonGroupField({
                label: 'Banner position'|t("cookie-banner"),
                instructions: 'Choose where the banner should be displayed'|t("cookie-banner"),
                id: 'cookieBannerPosition',
                name: 'settings[cookieBannerPosition]',
                value: settings.cookieBannerPosition ?? 'bottom-left',
                options: [
                    { label: 'Bottom Left'|t("cookie-banner"), value: 'bottom-left', icon: 'arrow-down-left' },
                    { label: 'Bottom Right'|t("cookie-banner"), value: 'bottom-right', icon: 'arrow-down-right' },
                    { label: 'Centered'|t("cookie-banner"), value: 'centered', icon: 'arrow-down-left-and-arrow-up-right-to-center' },
                ]
            }) }}
        </div>

        <div class="field width-50">
            {{ forms.buttonGroupField({
                label: 'Preferences action'|t("cookie-banner"),
                instructions: 'Show the determine/detailed preferences action as a button or a link'|t("cookie-banner"),
                id: 'preferencesAction',
                name: 'settings[preferencesAction]',
                value: settings.preferencesAction ?? 'button',
                options: [
                    { label: 'Button'|t("cookie-banner"), value: 'button', icon: 'square' },
                    { label: 'Link'|t("cookie-banner"), value: 'link', icon: 'link' },
                ]
            }) }}
        </div>

        <div class="field width-50">
            {{ forms.buttonGroupField({
                label: 'Buttons size'|t("cookie-banner"),
                id: 'buttonSize',
                name: 'settings[buttonSize]',
                value: settings.buttonSize ?? 'small',
                options: [
                    { label: 'Small'|t("cookie-banner"), value: 'small', icon: 'square-small' },
                    { label: 'Medium'|t("cookie-banner"), value: 'medium', icon: 'stop' },
                    { label: 'Large'|t("cookie-banner"), value: 'large', icon: 'square' },
                ]
            }) }}
        </div>

        <div class="field width-50">
            {{ forms.buttonGroupField({
                label: 'Banner style'|t("cookie-banner"),
                id: 'bannerStyle',
                name: 'settings[bannerStyle]',
                value: settings.bannerStyle ?? 'square',
                options: [
                    { label: 'Square'|t("cookie-banner"), value: 'square' },
                    { label: 'Rounded'|t("cookie-banner"), value: 'rounded' },
                    { label: 'Extra rounded'|t("cookie-banner"), value: 'extra-rounded' },
                ]
            }) }}
        </div>

        <hr>

        <div class="field width-100">
            {{ forms.buttonGroupField({
                label: 'Cookie list style'|t("cookie-banner"),
                instructions: 'Determines the way the cookie list is rendered when using the `{{ renderCookiesListHtml() }}`'|t("cookie-banner"),
                id: 'cookieListStyle',
                name: 'settings[cookieListStyle]',
                value: settings.cookieListStyle ?? 'grouped',
                options: [
                    { label: 'Ungrouped'|t("cookie-banner"), value: 'ungrouped' },
                    { label: 'Grouped'|t("cookie-banner"), value: 'grouped' },
                ]
            }) }}
        </div>

        <h2>{{ 'Typography'|t("cookie-banner") }}</h2>

        <div class="field width-25">
            {{ forms.textField({
                label: 'Title font'|t("cookie-banner"),
                id: 'titleFont',
                name: 'settings[titleFont]',
                placeholder: '"system-ui", sans-serif',
                value: settings.titleFont,
            }) }}
        </div>

        <div class="field width-25">
            {{ forms.textField({
                label: 'Text font'|t("cookie-banner"),
                id: 'textFont',
                name: 'settings[textFont]',
                placeholder: '"system-ui", sans-serif',
                value: settings.textFont,
            }) }}
        </div>

        <h2>{{ 'Theming & Colors'|t("cookie-banner") }}</h2>

        <div class="field width-25">
            {{ forms.colorField({
                label: 'Banner background'|t("cookie-banner"),
                id: 'bannerBackground',
                name: 'settings[bannerBackground]',
                value: settings.bannerBackground,
            }) }}
        </div>

        <div class="field width-25">
            {{ forms.colorField({
                label: 'Banner border color'|t("cookie-banner"),
                id: 'bannerBorderColor',
                name: 'settings[bannerBorderColor]',
                value: settings.bannerBorderColor,
            }) }}
        </div>

        <div class="field width-25">
            {{ forms.textField({
                label: 'Banner border thickness'|t("cookie-banner"),
                type: 'number',
                id: 'bannerBorderThickness',
                name: 'settings[bannerBorderThickness]',
                value: settings.bannerBorderThickness,
                suffix: "px",
            }) }}
        </div>

        <div class="field width-25">
            {{ forms.rangeField({
                label: 'Banner overlay'|t("cookie-banner"),
                id: 'bannerOverlayOpacity',
                name: 'settings[bannerOverlayOpacity]',
                value: settings.bannerOverlayOpacity,
                min: 0,
                max: 100,
                suffix: "%",
            }) }}
        </div>

        <div class="line-break"></div>

        <div class="field width-25">
            {{ forms.colorField({
                label: 'Title color'|t("cookie-banner"),
                id: 'titleColor',
                name: 'settings[titleColor]',
                value: settings.titleColor,
            }) }}
        </div>

        <div class="field width-25">
            {{ forms.colorField({
                label: 'Text color'|t("cookie-banner"),
                id: 'textColor',
                name: 'settings[textColor]',
                value: settings.textColor,
            }) }}
        </div>

        <div class="line-break"></div>

        <div class="field width-25">
            {{ forms.colorField({
                label: 'Link color'|t("cookie-banner"),
                id: 'linkColor',
                name: 'settings[linkColor]',
                value: settings.linkColor,
            }) }}
        </div>

        <div class="field width-25">
            {{ forms.colorField({
                label: 'Link hover color'|t("cookie-banner"),
                id: 'linkHoverColor',
                name: 'settings[linkHoverColor]',
                value: settings.linkHoverColor,
            }) }}
        </div>

        <h2>{{ 'Buttons'|t("cookie-banner") }}</h2>

        <div class="field width-25">
            {{ forms.colorField({
                label: 'Background'|t("cookie-banner"),
                id: 'buttonBackground',
                name: 'settings[buttonBackground]',
                value: settings.buttonBackground,
            }) }}
        </div>

        <div class="field width-25">
            {{ forms.colorField({
                label: 'Text color'|t("cookie-banner"),
                id: 'buttonColor',
                name: 'settings[buttonColor]',
                value: settings.buttonColor,
            }) }}
        </div>

        <div class="field width-25">
            {{ forms.colorField({
                label: 'Border color'|t("cookie-banner"),
                id: 'buttonBorderColor',
                name: 'settings[buttonBorderColor]',
                value: settings.buttonBorderColor,
            }) }}
        </div>

        <div class="field width-25">
            {{ forms.textField({
                label: 'Border thickness'|t("cookie-banner"),
                type: 'number',
                id: 'buttonBorderThickness',
                name: 'settings[buttonBorderThickness]',
                value: settings.buttonBorderThickness,
                suffix: "px",
            }) }}
        </div>

        <div class="line-break"></div>

        <div class="field width-25">
            {{ forms.colorField({
                label: 'Hover background'|t("cookie-banner"),
                id: 'buttonHoverBackground',
                name: 'settings[buttonHoverBackground]',
                value: settings.buttonHoverBackground,
            }) }}
        </div>

        <div class="field width-25">
            {{ forms.colorField({
                label: 'Hover text color'|t("cookie-banner"),
                id: 'buttonHoverColor',
                name: 'settings[buttonHoverColor]',
                value: settings.buttonHoverColor,
            }) }}
        </div>        

        <div class="field width-25">
            {{ forms.colorField({
                label: 'Hover border color'|t("cookie-banner"),
                id: 'buttonHoverBorderColor',
                name: 'settings[buttonHoverBorderColor]',
                value: settings.buttonHoverBorderColor,
            }) }}
        </div>

        <h2>{{ 'Toggles'|t("cookie-banner") }}</h2>

        <div class="field width-25">
            {{ forms.colorField({
                label: 'Toggle background off'|t("cookie-banner"),
                id: 'toggleBackgroundOff',
                name: 'settings[toggleBackgroundOff]',
                value: settings.toggleBackgroundOff,
            }) }}
        </div>

        <div class="field width-25">
            {{ forms.colorField({
                label: 'Toggle background on'|t("cookie-banner"),
                id: 'toggleBackgroundOn',
                name: 'settings[toggleBackgroundOn]',
                value: settings.toggleBackgroundOn,
            }) }}
        </div>

        <div class="field width-25">
            {{ forms.colorField({
                label: 'Toggle color'|t("cookie-banner"),
                id: 'toggleColor',
                name: 'settings[toggleColor]',
                value: settings.toggleColor,
            }) }}
        </div>

        {% if settings.showCookieTables %}
            <h2>{{ 'Cookie groups'|t("cookie-banner") }}</h2>

            <div class="field width-25">
                {{ forms.colorField({
                    label: 'Title color'|t("cookie-banner"),
                    id: 'cookieGroupTitleColor',
                    name: 'settings[cookieGroupTitleColor]',
                    value: settings.cookieGroupTitleColor,
                }) }}
            </div>

            <div class="field width-25">
                {{ forms.colorField({
                    label: 'Text color'|t("cookie-banner"),
                    id: 'cookieGroupTextColor',
                    name: 'settings[cookieGroupTextColor]',
                    value: settings.cookieGroupTextColor,
                }) }}
            </div>

            <div class="line-break"></div>

            <div class="field width-25">
                {{ forms.colorField({
                    label: 'Link color'|t("cookie-banner"),
                    id: 'cookieGroupLinkColor',
                    name: 'settings[cookieGroupLinkColor]',
                    value: settings.cookieGroupLinkColor,
                }) }}
            </div>

            <div class="field width-25">
                {{ forms.colorField({
                    label: 'Link hover color'|t("cookie-banner"),
                    id: 'cookieGroupLinkHoverColor',
                    name: 'settings[cookieGroupLinkHoverColor]',
                    value: settings.cookieGroupLinkHoverColor,
                }) }}
            </div>

            <div class="line-break"></div>

            <div class="field width-25">
                {{ forms.colorField({
                    label: 'background'|t("cookie-banner"),
                    id: 'cookieGroupBackground',
                    name: 'settings[cookieGroupBackground]',
                    value: settings.cookieGroupBackground,
                }) }}
            </div>

            <div class="field width-25">
                {{ forms.colorField({
                    label: 'border color'|t("cookie-banner"),
                    id: 'cookieGroupBorderColor',
                    name: 'settings[cookieGroupBorderColor]',
                    value: settings.cookieGroupBorderColor,
                }) }}
            </div>

            <div class="field width-25">
                {{ forms.textField({
                    label: 'border thickness'|t("cookie-banner"),
                    type: 'number',
                    id: 'cookieGroupBorderThickness',
                    name: 'settings[cookieGroupBorderThickness]',
                    value: settings.cookieGroupBorderThickness,
                    suffix: "px",
                }) }}
            </div>

            <div class="line-break"></div>

            <div class="field width-25">
                {{ forms.colorField({
                    label: 'Hover background'|t("cookie-banner"),
                    id: 'cookieGroupHoverBackground',
                    name: 'settings[cookieGroupHoverBackground]',
                    value: settings.cookieGroupHoverBackground,
                }) }}
            </div>

            <div class="field width-25">
                {{ forms.colorField({
                    label: 'Hover border color'|t("cookie-banner"),
                    id: 'cookieGroupHoverBorderColor',
                    name: 'settings[cookieGroupHoverBorderColor]',
                    value: settings.cookieGroupHoverBorderColor,
                }) }}
            </div>

            <h2>{{ 'Cookie Tables'|t("cookie-banner") }}</h2>

            <div class="field width-25">
                {{ forms.colorField({
                    label: 'Title color'|t("cookie-banner"),
                    id: 'cookieTableTitleColor',
                    name: 'settings[cookieTableTitleColor]',
                    value: settings.cookieTableTitleColor,
                }) }}
            </div>

            <div class="field width-25">
                {{ forms.colorField({
                    label: 'Text color'|t("cookie-banner"),
                    id: 'cookieTableTextColor',
                    name: 'settings[cookieTableTextColor]',
                    value: settings.cookieTableTextColor,
                }) }}
            </div>

            <div class="line-break"></div>

            <div class="field width-25">
                {{ forms.colorField({
                    label: 'Background'|t("cookie-banner"),
                    id: 'cookieTableBackground',
                    name: 'settings[cookieTableBackground]',
                    value: settings.cookieTableBackground,
                }) }}
            </div>

            <div class="field width-25">
                {{ forms.colorField({
                    label: 'Border color'|t("cookie-banner"),
                    id: 'cookieTableBorderColor',
                    name: 'settings[cookieTableBorderColor]',
                    value: settings.cookieTableBorderColor,
                }) }}
            </div>

            <div class="field width-25">
                {{ forms.textField({
                    label: 'border thickness'|t("cookie-banner"),
                    type: 'number',
                    id: 'cookieTableBorderThickness',
                    name: 'settings[cookieTableBorderThickness]',
                    value: settings.cookieTableBorderThickness,
                    suffix: "px",
                }) }}
            </div>
        {% endif %}
    </div>
{% endblock %}
