{% extends "_layouts/cp.twig" %}

{% import '_includes/forms.twig' as forms %}

{% set title = "Cookie banner content"|t('cookieBanner') %}
{% set selectedSubnavItem = 'content' %}
{% set fullPageForm = true %}

{% if selectableSites is not defined %}
    {% if siteIds is defined %}
        {% set selectableSites = craft.app.sites.getEditableSites()|filter(s => s.id in siteIds) %}
    {% else %}
        {% set selectableSites = craft.app.sites.getEditableSites() %}
    {% endif %}
{% endif %}

{% if selectedSite is not defined %}
    {% if selectedSiteId is defined %}
        {% set selectedSite = craft.app.sites.getSiteById(selectedSiteId) %}
    {% elseif requestedSite and requestedSite in selectableSites %}
        {% set selectedSite = requestedSite %}
    {% else %}
        {% set selectedSite = selectableSites|length ? selectableSites|first : craft.app.sites.getPrimarySite() %}
    {% endif %}
{% endif %}

{% if selectableSites|length > 1 %}
    {% set crumbs = [
        {
            id: 'site-crumb',
            icon: 'world',
            iconAltText: 'Site'|t('app'),
            label: selectedSite.name|t('site'),
            menu: {
                items: siteMenuItems(selectableSites, selectedSite),
                label: 'Select site'|t('app')
            }
        },
        { label: 'Cookie banner'|t('cookie-banner'), url: url('cookie-banner') },
        { label: 'Content'|t('cookie-banner'), url: url('cookie-banner/content') },
    ] %}
{% else %}
    {% set crumbs = [
        { label: 'Cookie banner'|t('cookie-banner'), url: url('cookie-banner') },
        { label: 'Content'|t('cookie-banner'), url: url('cookie-banner/content') },
    ] %}
{% endif %}

{% set cookieGroups = [{"label": "Default", "value": "default" }]|merge(
    banner.cookieGroups|default([])|map(item => {
        'label': item.name,
        'value': item.name|kebab
    })
) %}

{% block content %}
    {{ actionInput('cookie-banner/content/save') }}
    {{ hiddenInput('siteId', selectedSite.id) }}

    <div class="flex-fields ccb-settings">
        <h2>{{ 'Introduction'|t('cookie-banner') }}</h2>

        <div class="field width-50">
            {{ forms.textField({
                label: 'Title'|t('cookie-banner'),
                id: 'title',
                name: 'fields[title]',
                value: banner.title ?? '',
                placeholder: 'Title'|t('cookie-banner'),
            }) }}
        </div>

        <div class="field line-break"></div>

        <div class="field width-75">
            {{ forms.textareaField({
                label: 'Text'|t('cookie-banner'),
                id: 'text',
                name: 'fields[text]',
                value: banner.text ?? '',
                placeholder: 'Text'|t('cookie-banner'),
                rows: 4,
            }) }}
        </div>

        <div class="line-break"></div>

        <h3 class="ccb-h3-label">{{ 'Privacy policy link'|t('cookie-banner') }}</h3>

        <div class="field width-25">
            {{ forms.textField({
                id: 'privacyPolicyLinkLabel',
                name: 'fields[privacyPolicyLinkLabel]',
                value: banner.privacyPolicyLinkLabel ?? '',
                placeholder: 'Label'|t('cookie-banner'),
            }) }}
        </div>

        <div class="field width-50">
            {{ forms.textField({
                id: 'privacyPolicyLinkURL',
                name: 'fields[privacyPolicyLinkURL]',
                value: banner.privacyPolicyLinkURL ?? '',
                placeholder: 'URL'|t('cookie-banner'),
            }) }}
        </div>

        <h3 class="ccb-h3-label">{{ 'Cookie policy link'|t('cookie-banner') }}</h3>

        <div class="field width-25">
            {{ forms.textField({
                id: 'cookiePolicyLinkLabel',
                name: 'fields[cookiePolicyLinkLabel]',
                value: banner.cookiePolicyLinkLabel ?? '',
                placeholder: 'Label'|t('cookie-banner'),
            }) }}
        </div>

        <div class="field width-50">
            {{ forms.textField({
                id: 'cookiePolicyLinkURL',
                name: 'fields[cookiePolicyLinkURL]',
                value: banner.cookiePolicyLinkURL ?? '',
                placeholder: 'URL'|t('cookie-banner'),
            }) }}
        </div>

        <hr>

        <h2>{{ 'Cookies'|t('cookie-banner') }}</h2>

        <div class="field width-75">
            {% if banner.cookieGroups|length %}
                {{ forms.editableTableField({
                    label: 'Vendors'|t('cookie-banner'),
                    id: 'cookieGroups',
                    name: 'fields[cookieGroups]',
                    cols: {
                        name: { heading: "Name"|t('cookie-banner'), type: "singleline" },
                        description: { heading: "Description"|t('cookie-banner'), type: "multiline"},
                        url: { heading: "URL"|t('cookie-banner'), type: "url"},
                    },
                    rows: banner.cookieGroups ?? [],
                    allowReorder: true,
                }) }}
            {% else %}
                <div class="pane no-border zilch small">
                    <p class="zilch small">{{ "No vendors defined"|t('cookie-banner') }}</p>
                </div>    
            {% endif %}
        </div>

        <h2>{{ 'Necessary cookies'|t('cookie-banner') }}</h2>

        <div class="field width-50">
            {{ forms.textField({
                label: 'Title'|t('cookie-banner'),
                id: 'necessaryCookiesTitle',
                name: 'fields[necessaryCookiesTitle]',
                value: banner.necessaryCookiesTitle ?? '',
                placeholder: 'Title'|t('cookie-banner'),
            }) }}
        </div>

        <div class="field width-25">
            {{ forms.textField({
                label: 'Label'|t('cookie-banner'),
                id: 'necessaryCookiesLabel',
                name: 'fields[necessaryCookiesLabel]',
                value: banner.necessaryCookiesLabel ?? '',
                placeholder: 'Label'|t('cookie-banner'),
            }) }}
        </div>

        <div class="field width-75">
            {{ forms.textareaField({
                label: 'Definition'|t('cookie-banner'),
                id: 'necessaryCookiesDefinition',
                name: 'fields[necessaryCookiesDefinition]',
                value: banner.necessaryCookiesDefinition ?? '',
                placeholder: 'Definition'|t('cookie-banner'),
                rows: 4,
            }) }}
        </div>

        <div class="width-75">
            {% if banner.necessaryCookies|length %}
                {{ forms.editableTableField({
                    label: 'List'|t('cookie-banner'),
                    id: 'necessaryCookies',
                    name: 'fields[necessaryCookies]',
                    cols: {
                        name: { heading: "Name"|t('cookie-banner'), type: "singleline" },
                        group: { heading: "Vendor"|t('cookie-banner'), type: "select", options: cookieGroups },
                        purpose: { heading: "Purpose"|t('cookie-banner'), type: "multiline" },
                        expiration: { heading: "Expiration"|t('cookie-banner'), type: "singleline" },
                        enabled: { heading: "Enabled"|t('cookie-banner'), type: "lightswitch" },
                    },
                    rows: banner.necessaryCookies ?? [],
                    allowReorder: true,
                }) }}
            {% else %}
                <div class="pane no-border zilch small">
                    <p class="zilch small">{{ "No necessary cookies defined"|t('cookie-banner') }}</p>
                </div>    
            {% endif %}
        </div>

        <h2>{{ 'Preference cookies'|t('cookie-banner') }}</h2>

        <div class="field width-50">
            {{ forms.textField({
                label: 'Title'|t('cookie-banner'),
                id: 'preferenceCookiesTitle',
                name: 'fields[preferenceCookiesTitle]',
                value: banner.preferenceCookiesTitle ?? '',
                placeholder: 'Title'|t('cookie-banner'),
            }) }}
        </div>

        <div class="field width-25">
            {{ forms.textField({
                label: 'Label'|t('cookie-banner'),
                id: 'preferenceCookiesLabel',
                name: 'fields[preferenceCookiesLabel]',
                value: banner.preferenceCookiesLabel ?? '',
                placeholder: 'Label'|t('cookie-banner'),
            }) }}
        </div>

        <div class="field width-75">
            {{ forms.textareaField({
                label: 'Definition'|t('cookie-banner'),
                id: 'preferenceCookiesDefinition',
                name: 'fields[preferenceCookiesDefinition]',
                value: banner.preferenceCookiesDefinition ?? '',
                placeholder: 'Definition'|t('cookie-banner'),
                rows: 4,
            }) }}
        </div>

        <div class="field width-75">
            {% if banner.preferenceCookies|length %}
                {{ forms.editableTableField({
                    label: 'List'|t('cookie-banner'),
                    id: 'preferenceCookies',
                    name: 'fields[preferenceCookies]',
                    cols: {
                        name: { heading: "Name"|t('cookie-banner'), type: "singleline" },
                        group: { heading: "Vendor"|t('cookie-banner'), type: "select", options: cookieGroups },
                        purpose: { heading: "Purpose"|t('cookie-banner'), type: "multiline" },
                        expiration: { heading: "Expiration"|t('cookie-banner'), type: "singleline" },
                        enabled: { heading: "Enabled"|t('cookie-banner'), type: "lightswitch" },
                    },
                    rows: banner.preferenceCookies ?? [],
                    allowReorder: true,
                }) }}
            {% else %}
                <div class="pane no-border zilch small">
                    <p class="zilch small">{{ "No preference cookies defined"|t('cookie-banner') }}</p>
                </div>    
            {% endif %}
        </div>

        <h2>{{ 'Analytical cookies'|t('cookie-banner') }}</h2>

        <div class="field width-50">
            {{ forms.textField({
                label: 'Title'|t('cookie-banner'),
                id: 'analyticalCookiesTitle',
                name: 'fields[analyticalCookiesTitle]',
                value: banner.analyticalCookiesTitle ?? '',
                placeholder: 'Title'|t('cookie-banner'),
            }) }}
        </div>

        <div class="field width-25">
            {{ forms.textField({
                label: 'Label'|t('cookie-banner'),
                id: 'analyticalCookiesLabel',
                name: 'fields[analyticalCookiesLabel]',
                value: banner.analyticalCookiesLabel ?? '',
                placeholder: 'Label'|t('cookie-banner'),
            }) }}
        </div>

        <div class="field width-75">
            {{ forms.textareaField({
                label: 'Definition'|t('cookie-banner'),
                id: 'analyticalCookiesDefinition',
                name: 'fields[analyticalCookiesDefinition]',
                value: banner.analyticalCookiesDefinition ?? '',
                placeholder: 'Definition'|t('cookie-banner'),
                rows: 4,
            }) }}
        </div>

        <div class="field width-75">
            {% if banner.analyticalCookies %}
                {{ forms.editableTableField({
                    label: 'List'|t('cookie-banner'),
                    id: 'analyticalCookies',
                    name: 'fields[analyticalCookies]',
                    cols: {
                        name: { heading: "Name"|t('cookie-banner'), type: "singleline" },
                        group: { heading: "Vendor"|t('cookie-banner'), type: "select", options: cookieGroups },
                        purpose: { heading: "Purpose"|t('cookie-banner'), type: "multiline" },
                        expiration: { heading: "Expiration"|t('cookie-banner'), type: "singleline" },
                        enabled: { heading: "Enabled"|t('cookie-banner'), type: "lightswitch" },
                    },
                    rows: banner.analyticalCookies ?? [],
                    allowReorder: true,
                }) }}
            {% else %}
                <div class="pane no-border zilch small">
                    <p class="zilch small">{{ "No analytical cookies defined"|t('cookie-banner') }}</p>
                </div>        
            {% endif %}
        </div>

        <h2>{{ 'Marketing cookies'|t('cookie-banner') }}</h2>

        <div class="field width-50">
            {{ forms.textField({
                label: 'Title'|t('cookie-banner'),
                id: 'marketingCookiesTitle',
                name: 'fields[marketingCookiesTitle]',
                value: banner.marketingCookiesTitle ?? '',
                placeholder: 'Title'|t('cookie-banner'),
            }) }}
        </div>

        <div class="field width-25">
            {{ forms.textField({
                label: 'Label'|t('cookie-banner'),
                id: 'marketingCookiesLabel',
                name: 'fields[marketingCookiesLabel]',
                value: banner.marketingCookiesLabel ?? '',
                placeholder: 'Label'|t('cookie-banner'),
            }) }}
        </div>

        <div class="field width-75">
            {{ forms.textareaField({
                label: 'Definition'|t('cookie-banner'),
                id: 'marketingCookiesDefinition',
                name: 'fields[marketingCookiesDefinition]',
                value: banner.marketingCookiesDefinition ?? '',
                placeholder: 'Definition'|t('cookie-banner'),
                rows: 4,
            }) }}
        </div>

        <div class="field width-75">
            {% if banner.marketingCookies|length %}
                {{ forms.editableTableField({
                    label: 'List'|t('cookie-banner'),
                    id: 'marketingCookies',
                    name: 'fields[marketingCookies]',
                    cols: {
                        name: { heading: "Name"|t('cookie-banner'), type: "singleline" },
                        group: { heading: "Vendor"|t('cookie-banner'), type: "select", options: cookieGroups },
                        purpose: { heading: "Purpose"|t('cookie-banner'), type: "multiline" },
                        expiration: { heading: "Expiration"|t('cookie-banner'), type: "singleline" },
                        enabled: { heading: "Enabled"|t('cookie-banner'), type: "lightswitch" },
                    },
                    rows: banner.marketingCookies ?? [],
                    allowReorder: true,
                }) }}
            {% else %}
                <div class="pane no-border zilch small">
                    <p class="zilch small">{{ "No marketing cookies defined"|t('cookie-banner') }}</p>
                </div>        
            {% endif %}
        </div>

        <h2>{{ 'Uncategorized cookies'|t('cookie-banner') }}</h2>

        <div class="field width-50">
            {{ forms.textField({
                label: 'Title'|t('cookie-banner'),
                id: 'uncategorizedCookiesTitle',
                name: 'fields[uncategorizedCookiesTitle]',
                value: banner.uncategorizedCookiesTitle ?? '',
                placeholder: 'Title'|t('cookie-banner'),
            }) }}
        </div>

        <div class="field width-25">
            {{ forms.textField({
                label: 'Label'|t('cookie-banner'),
                id: 'uncategorizedCookiesLabel',
                name: 'fields[uncategorizedCookiesLabel]',
                value: banner.uncategorizedCookiesLabel ?? '',
                placeholder: 'Label'|t('cookie-banner'),
            }) }}
        </div>

        <div class="field width-75">
            {{ forms.textareaField({
                label: 'Definition'|t('cookie-banner'),
                id: 'uncategorizedCookiesDefinition',
                name: 'fields[uncategorizedCookiesDefinition]',
                value: banner.uncategorizedCookiesDefinition ?? '',
                placeholder: 'Definition'|t('cookie-banner'),
                rows: 4,
            }) }}
        </div>

        <div class="field width-75">
            {% if banner.uncategorizedCookies|length %}
                {{ forms.editableTableField({
                    label: 'List'|t('cookie-banner'),
                    id: 'uncategorizedCookies',
                    name: 'fields[uncategorizedCookies]',
                    cols: {
                        name: { heading: "Name"|t('cookie-banner'), type: "singleline" },
                        group: { heading: "Vendor"|t('cookie-banner'), type: "select", options: cookieGroups },
                        purpose: { heading: "Purpose"|t('cookie-banner'), type: "multiline" },
                        expiration: { heading: "Expiration"|t('cookie-banner'), type: "singleline" },
                        enabled: { heading: "Enabled"|t('cookie-banner'), type: "lightswitch" },
                    },
                    rows: banner.uncategorizedCookies ?? [],
                    allowReorder: true,
                }) }}
            {% else %}
                <div class="pane no-border zilch small">
                    <p class="zilch small">{{ "No uncategorized cookies defined"|t('cookie-banner') }}</p>
                </div>            
            {% endif %}
        </div>

        <h2>{{ 'Button labels'|t('cookie-banner') }}</h2>

        <div class="field width-25">
            {{ forms.textField({
                label: 'Refuse all'|t('cookie-banner'),
                id: 'refuseAllLabel',
                name: 'fields[refuseAllButtonLabel]',
                value: banner.refuseAllButtonLabel ?? '',
                placeholder: 'Label'|t('cookie-banner'),
            }) }}
        </div>

        <div class="field width-25">
            {{ forms.textField({
                label: 'Accept selected'|t('cookie-banner'),
                id: 'acceptSelectedLabel',
                name: 'fields[acceptSelectedButtonLabel]',
                value: banner.acceptSelectedButtonLabel ?? '',
                placeholder: 'Label'|t('cookie-banner'),
            }) }}
        </div>

        <div class="field width-25">
            {{ forms.textField({
                label: 'Accept all'|t('cookie-banner'),
                id: 'acceptAllLabel',
                name: 'fields[acceptAllButtonLabel]',
                value: banner.acceptAllButtonLabel ?? '',
                placeholder: 'Label'|t('cookie-banner'),
            }) }}
        </div>

        <div class="line-break"></div>

        <div class="field width-25">
            {{ forms.textField({
                label: 'Determine preferences'|t('cookie-banner'),
                id: 'determinePreferencesLabel',
                name: 'fields[determinePreferencesButtonLabel]',
                value: banner.determinePreferencesButtonLabel ?? '',
                placeholder: 'Label'|t('cookie-banner'),
            }) }}
        </div>

        <div class="field width-25">
            {{ forms.textField({
                label: 'Detailed preferences'|t('cookie-banner'),
                id: 'detailedPreferencesLabel',
                name: 'fields[detailedPreferencesButtonLabel]',
                value: banner.detailedPreferencesButtonLabel ?? '',
                placeholder: 'Label'|t('cookie-banner'),
            }) }}
        </div>
    </div>
{% endblock %}
