{% extends "_layouts/cp.twig" %}

{% import '_includes/forms.twig' as forms %}

{% set title = "Dashboard"|t("cookie-banner") %}
{% set selectedSubnavItem = 'dashboard' %}

{% set crumbs = [
    { label: 'Cookie banner'|t("cookie-banner"), url: url('cookie-banner') },
    { label: 'Getting started'|t("cookie-banner"), url: url('cookie-banner/dashboard') },
] %}

{% block content %}
    <div class="ccb-dashboard">
        <div class="ccb-graph">
            <h2>{{ "Consent records from the last 7 days"|t("cookie-banner") }}</h2>

            <div class="ccb-graph-numbers">
                <div class="ccb-graph-number">
                    <h3 class="ccb-typo-body-md ccb-semi-bold">{{ "Total"|t("cookie-banner") }}</h3>

                    <div class="ccb-graph-number-value">
                        <p class="ccb-semi-bold">{{ consentRecordsChart.total }}</p>

                        <div class="ccb-graph-number-relative-value">
                            {{ svg("@digitalastronaut/craftcookiebanner/web/icons/arrow-up.svg") }}
                            <p class="ccb-typo-body-md">7.6%</p>
                        </div>
                    </div>
                </div>

                <div class="ccb-graph-number">
                    <h3 class="ccb-typo-body-md ccb-semi-bold">{{ "Average/day"|t("cookie-banner") }}</h3>

                    <div class="ccb-graph-number-value">
                        <p class="ccb-semi-bold">12.7</p>

                        <div class="ccb-graph-number-relative-value">
                            {{ svg("@digitalastronaut/craftcookiebanner/web/icons/arrow-up.svg") }}
                            <p class="ccb-typo-body-md">12.1%</p>
                        </div>
                    </div>
                </div>

                <div class="ccb-graph-number">
                    <h3 class="ccb-typo-body-md ccb-semi-bold">{{ "Accepted rate"|t("cookie-banner") }}</h3>

                    <div class="ccb-graph-number-value">
                        <p class="ccb-semi-bold">23.8%</p>

                        <div class="ccb-graph-number-relative-value">
                            {{ svg("@digitalastronaut/craftcookiebanner/web/icons/arrow-up.svg") }}
                            <p class="ccb-typo-body-md">2.1%</p>
                        </div>
                    </div>
                </div>
            </div>

            <consent-records-graph class="consent-records-graph">
                <canvas id="consent-records-graph"></canvas>
            </consent-records-graph>
        </div>

        <div class="ccb-graph">
            <h2>{{ "Cookies and vendors status"|t("cookie-banner") }}</h2>
        
            <cookies-and-vendors-graph class="cookies-and-vendors-graph">
                <div class="cookies-and-vendors-graph-container">
                    <canvas id="cookies-graph"></canvas>
                </div>

                <div class="cookies-and-vendors-graph-container">
                    <canvas id="vendors-graph"></canvas>
                </div>
            </cookies-and-vendors-graph>

            <div class="ccb-graph-legend">
                <ul class="ccb-graph-sub-legend">
                    <li class="ccb-graph-legend-item">
                        <div style="background-color: #10b981;"></div>
                        <span>1 Defined</span>
                    </li>
                    <li class="ccb-graph-legend-item">
                        <div style="background-color: #facc15;"></div>
                        <span>3 Defined incomplete</span>
                    </li>
                    <li class="ccb-graph-legend-item">
                        <div style="background-color: #4299E1;"></div>
                        <span>2 Suggested</span>
                    </li>
                    <li class="ccb-graph-legend-item">
                        <div style="background-color: #d8e2ee;"></div>
                        <span>3 Control panel</span>
                    </li>
                </ul>

                <ul class="ccb-graph-sub-legend">
                    <li class="ccb-graph-legend-item">
                        <div style="background-color: #10b981"></div>
                        <span>1 Defined</span>
                    </li>
                    <li class="ccb-graph-legend-item">
                        <div style="background-color: #facc15"></div>
                        <span>3 Defined incomplete</span>
                    </li>
                    <li class="ccb-graph-legend-item">
                        <div style="background-color: #4299E1"></div>
                        <span>1 Suggested</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <hr>

    <div class="ccb-getting-started">
        <div class="ccb-getting-started-main">
            {# <div class="ccb-getting-started-welcome">
                {{ svg("@digitalastronaut/craftcookiebanner/web/icons/plugin-icon.svg") }}

                <h2>{{ "Thanks for installing this cookie banner plugin!"|t("cookie-banner") }}</h2>

                <p>{{ "Being compliant is unfortunatly way more work than installing a banner for your website. Luckily with this plugin you are halfway there already. Follow this getting started guide to make your site compliant in no time!"|t("cookie-banner") }}</p>

                <div>
                    <a href="#" class="btn">{{ "Visit the documentation"|t("cookie-banner") }}</a>
                    <a href="#" class="btn">{{ "Skip this guide"|t("cookie-banner") }}</a>
                </div>
            </div> #}

            <ul class="ccb-getting-started-checklist">
                <li class="ccb-getting-started-checklist-item">
                    <article class="ccb-getting-started-goal {{ gettingStartedProgress.legalPagesStepCompleted ? "completed" : "" }}">
                        <div class="ccb-getting-started-goal-main">
                            <div class="ccb-getting-started-goal-title">
                                {{ svg("@digitalastronaut/craftcookiebanner/web/icons/circle-check.svg") }}

                                <h2>{{ "Correctly setup your legal pages"|t("cookie-banner") }}</h2>
                            </div>

                            <ol>
                                <li>
                                    <p>
                                        {{ "Create the mandatory privacy and cookie policy pages (can be one page)"|t("cookie-banner") }}
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        {{ 'Link them correctly in <a href="{url}">the cookie banner content tab</a> for each site/language.'|t('cookie-banner', {
                                            url: cpUrl('cookie-banner/content')
                                        })|raw }}
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        {{ "Render a table of all cookies and their purpose on the cookie page. You can easily achieve this using the build in <code>{{ getCookiesTableHtml() }}</code> twig extension"|t("cookie-banner")|raw }}
                                    </p>
                                </li>
                            </ol>
                        </div>

                        <div class="ccb-getting-started-goal-action">
                            <form method="post">
                                {{ csrfInput() }}
                                {{ actionInput('cookie-banner/getting-started/complete-legal-pages-step') }}
                                {{ redirectInput('cookie-banner/getting-started') }}

                                <button type="submit" class="btn">{{ "Complete this step"|t("cookie-banner") }}</button>
                            </form>
                        </div>
                    </article>
                </li>

                <li class="ccb-getting-started-checklist-item">
                    <article class="ccb-getting-started-goal {{ gettingStartedProgress.deferScriptsStepCompleted ? "completed" : "" }}">
                        <div class="ccb-getting-started-goal-main">
                            <div class="ccb-getting-started-goal-title">
                                {{ svg("@digitalastronaut/craftcookiebanner/web/icons/circle-check.svg") }}

                                <h2>{{ "Defer third party scripts/embeds on the website until consent is given"|t("cookie-banner") }}</h2>
                            </div>

                            <ol>
                                <li>
                                    <p>
                                        {{ 'Make sure to respect cookie banner consent when using third party tools such as Google Analytics.'|t('cookie-banner')|raw }}
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        {{ 'Only load embeds/iframe consent if consent is given'|t('cookie-banner')|raw }}
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        {{ 'When using forms make sure users are aware of what their data is used for and where and how long it stored'|t('cookie-banner')|raw }}
                                    </p>
                                </li>
                            </ol>

                            <p>{{ 'Read the guide and most common pitfalls in <a href="{url}">the documentation</a>'|t('cookie-banner', {
                                url: "#"
                            })|raw }}</p>
                        </div>

                        <div class="ccb-getting-started-goal-action">
                            <form method="post">
                                {{ csrfInput() }}
                                {{ actionInput('cookie-banner/getting-started/complete-defer-scripts-step') }}
                                {{ redirectInput('cookie-banner/getting-started') }}

                                <button type="submit" class="btn">{{ "Complete this step"|t("cookie-banner") }}</button>
                            </form>
                        </div>
                    </article>
                </li>

                <li class="ccb-getting-started-checklist-item">
                    <article class="ccb-getting-started-goal {{ gettingStartedProgress.contentStepCompleted ? "completed" : "" }}">
                        <div class="ccb-getting-started-goal-main">
                            <div class="ccb-getting-started-goal-title">
                                {{ svg("@digitalastronaut/craftcookiebanner/web/icons/circle-check.svg") }}

                                <h2>{{ "Complete (and translate) the cookie banner content"|t("cookie-banner") }}</h2>
                            </div>

                            <ol>
                                <li>
                                    <p>{{ "Fill out basic content fields: title, description, definitions and button labels"|t("cookie-banner") }}</p>
                                </li>
                                <li>
                                    <p>{{ 'Use <a href="{url}">the compliancy checklist</a> to easily add all your cookies to the banner in multiple languages'|t('cookie-banner', {
                                        url: cpUrl('cookie-banner/compliancy-checklist')
                                    })|raw }}</p>
                                </li>
                                <li>
                                    <p>{{ "Assign vendors/groups to your cookies if you wish"|t('cookie-banner') }}</p>
                                </li>
                            </ol>
                        </div>

                        <div class="ccb-getting-started-goal-action">
                            <form method="post">
                                {{ csrfInput() }}
                                {{ actionInput('cookie-banner/getting-started/complete-content-step') }}
                                {{ redirectInput('cookie-banner/getting-started') }}

                                <button type="submit" class="btn">{{ "Complete this step"|t("cookie-banner") }}</button>
                            </form>
                        </div>
                    </article>
                </li>

                <li class="ccb-getting-started-checklist-item">
                    <article class="ccb-getting-started-goal {{ gettingStartedProgress.appearanceStepCompleted ? "completed" : "" }}">
                        <div class="ccb-getting-started-goal-main">
                            <div class="ccb-getting-started-goal-title">
                                {{ svg("@digitalastronaut/craftcookiebanner/web/icons/circle-check.svg") }}

                                <h2>{{ "Personalise the cookie banner"|t("cookie-banner") }}</h2>
                            </div>

                            <ol>
                                <li>
                                    <p>{{ 'Use <a href="{url}">the appearance tab</a> to customize the look and functionality of the banner'|t('cookie-banner', {
                                        url: cpUrl('cookie-banner/appearance')
                                    })|raw }}</p>
                                </li>
                            </ol>
                        </div>

                        <div class="ccb-getting-started-goal-action">
                            <form method="post">
                                {{ csrfInput() }}
                                {{ actionInput('cookie-banner/getting-started/complete-appearance-step') }}
                                {{ redirectInput('cookie-banner/getting-started') }}

                                <button type="submit" class="btn">{{ "Complete this step"|t("cookie-banner") }}</button>
                            </form>
                        </div>
                    </article>
                </li>

                <li class="ccb-getting-started-checklist-item">
                    <article class="ccb-getting-started-goal {{ gettingStartedProgress.finalSettingsStepCompleted ? "completed" : "" }}">
                        <div class="ccb-getting-started-goal-main">
                            <div class="ccb-getting-started-goal-title">
                                {{ svg("@digitalastronaut/craftcookiebanner/web/icons/circle-check.svg") }}

                                <h2>{{ "Configure some final settings"|t("cookie-banner") }}</h2>
                            </div>

                            <ol>
                                <li>
                                    <p>{{ '<a href="{url}">Configure</a> a retention policy for your consent records'|t('cookie-banner', {
                                        url: cpUrl('cookie-banner/settings')
                                    })|raw }}</p>
                                </li>
                                <li>
                                    <p>{{ "Make sure the banner is enabled and your are done!"|t('cookie-banner') }}</p>
                                </li>
                            </ol>
                        </div>

                        <div class="ccb-getting-started-goal-action">
                            <form method="post">
                                {{ csrfInput() }}
                                {{ actionInput('cookie-banner/getting-started/complete-final-settings-step') }}
                                {{ redirectInput('cookie-banner/getting-started') }}

                                <button type="submit" class="btn">{{ "Complete this step"|t("cookie-banner") }}</button>
                            </form>
                        </div>
                    </article>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
