{# ======================= #}
{# PROPERTIES              #}
{# ======================= #}
{% set appearance = appearance|default("") %}
{% set banner = banner|default("") %}

{# ======================= #}
{# TEMPLATE                #}
{# ======================= #}
<cookie-banner
    id="ccb-cookie-banner" 
    class="ccb-cookie-banner {{ appearance.cookieBannerPosition }}"
    data-show-cookie-categories="{{ appearance.showCookieCategoriesPreview }}"
    data-preferences-action="{{ appearance.preferencesAction }}"
    data-lenis-prevent
>
    <div class="ccb-cookie-banner-preview">
        <div class="ccb-cookie-banner-intro">
            <h2 class="ccb-typo-h2">{{ content.title }}</h2>

            <p class="ccb-typo-body-md">{{ content.text }}</p>

            <ul class="ccb-cookie-banner-legal-links-list">
                <li class="ccb-cookie-banner-legal-links-list-item">
                    <a 
                        href="{{ content.privacyPolicyLinkURL }}" 
                        class="ccb-typo-body-md"
                    >
                        {{ content.privacyPolicyLinkLabel|default("Privacy policy"|t("cookie-banner")) }}
                    </a>
                </li>

                <li class="ccb-cookie-banner-legal-links-list-item">
                    <a 
                        href="{{ content.cookiePolicyLinkURL }}" 
                        class="ccb-typo-body-md"
                    >
                        {{ content.cookiePolicyLinkLabel|default("Cookie policy"|t("cookie-banner")) }}
                    </a>
                </li>

                <li class="ccb-cookie-banner-legal-links-list-item">
                    <a data-determine-preferences-link class="ccb-typo-body-md">
                        {{ appearance.showCookieCategoriesPreview ? content.detailedPreferencesButtonLabel : content.determinePreferencesButtonLabel }}
                    </a>
                </li>
            </ul>
        </div>

        <ul data-cookie-categories class="ccb-cookie-banner-categories-list">
            <li class="ccb-cookie-banner-categories-list-item">
                <p class="ccb-typo-h3">{{ content.necessaryCookiesLabel }}</p>

                <label class="ccb-lightswitch">
                    <input type="checkbox" data-model="necessaryCookies" disabled checked>
                </label>
            </li>

            <li class="ccb-cookie-banner-categories-list-item">
                <p class="ccb-typo-h3">{{ content.preferenceCookiesLabel }}</p>

                <label class="ccb-lightswitch">
                    <input type="checkbox" data-model="preferenceCookies">
                </label>
            </li>

            <li class="ccb-cookie-banner-categories-list-item">
                <p class="ccb-typo-h3">{{ content.analyticalCookiesLabel }}</p>

                <label class="ccb-lightswitch">
                    <input type="checkbox" data-model="analyticalCookies">
                </label>
            </li>

            <li class="ccb-cookie-banner-categories-list-item">
                <p class="ccb-typo-h3">{{ content.marketingCookiesLabel }}</p>

                <label class="ccb-lightswitch">
                    <input type="checkbox" data-model="marketingCookies">
                </label>
            </li>

            <li class="ccb-cookie-banner-categories-list-item">
                <p class="ccb-typo-h3">{{ content.uncategorizedCookiesLabel }}</p>

                <label class="ccb-lightswitch">
                    <input type="checkbox" data-model="uncategorizedCookies">
                </label>
            </li>
        </ul>

        <div data-detailed-settings class="ccb-cookie-banner-details">
            {% embed "cookie-banner/components/_cookiesCategory" with { 
                title: content.necessaryCookiesTitle,
                description: content.necessaryCookiesDefinition,
                cookies: content.necessaryCookies
            } %}
                {% block lightswitch %}
                    <label class="ccb-lightswitch">
                        <input 
                            id="detailed-settings-essential-cookies" 
                            data-model="necessaryCookies" 
                            type="checkbox" 
                            checked
                            disabled 
                        />
                    </label>
                {% endblock %}
            {% endembed %}

            {% embed "cookie-banner/components/_cookiesCategory" with { 
                title: content.preferenceCookiesTitle,
                description: content.preferenceCookiesDefinition,
                cookies: content.preferenceCookies
            } %}
                {% block lightswitch %}
                    <label class="ccb-lightswitch">
                        <input 
                            id="detailed-settings-functional-cookies" 
                            data-model="preferenceCookies"
                            type="checkbox" 
                        />
                    </label>
                {% endblock %}
            {% endembed %}

            {% embed "cookie-banner/components/_cookiesCategory" with { 
                title: content.analyticalCookiesTitle,
                description: content.analyticalCookiesDefinition,
                cookies: content.analyticalCookies
            } %}
                {% block lightswitch %}
                    <label class="ccb-lightswitch">
                        <input 
                            id="detailed-settings-analytical-cookies" 
                            data-model="analyticalCookies"
                            type="checkbox" 
                        />
                    </label>
                {% endblock %}
            {% endembed %}

            {% embed "cookie-banner/components/_cookiesCategory" with { 
                title: content.marketingCookiesTitle,
                description: content.marketingCookiesDefinition,
                cookies: content.marketingCookies
            } %}
                {% block lightswitch %}
                    <label class="ccb-lightswitch">
                        <input 
                            id="detailed-settings-advertisement-cookies" 
                            data-model="marketingCookies"
                            type="checkbox" 
                        />
                    </label>
                {% endblock %}
            {% endembed %}

            {% embed "cookie-banner/components/_cookiesCategory" with { 
                title: content.uncategorizedCookiesTitle,
                description: content.uncategorizedCookiesDefinition,
                cookies: content.uncategorizedCookies
            } %}
                {% block lightswitch %}
                    <label class="ccb-lightswitch">
                        <input 
                            id="detailed-settings-personalization-cookies" 
                            data-model="uncategorizedCookies"
                            type="checkbox" 
                        />
                    </label>
                {% endblock %}
            {% endembed %}
        </div>
    </div>

    <div class="ccb-cookie-banner-action-buttons">
        <button data-refuse-all-button class="ccb-button ccb-typo-button">
            {{ content.refuseAllButtonLabel }}
        </button>

        <button 
            data-determine-preferences-button
            class="ccb-button ccb-typo-button"
        >
            {{ appearance.showCookieCategoriesPreview ? content.detailedPreferencesButtonLabel : content.determinePreferencesButtonLabel }}
        </button>

        <button 
            data-accept-selected-button 
            class="ccb-button ccb-typo-button"
        >
            {{ content.acceptSelectedButtonLabel }}
        </button>

        <button data-accept-all-button class="ccb-button ccb-typo-button">
            {{ content.acceptAllButtonLabel }}
        </button>
    </div>
    
    {# ======================= #}
    {# SCRIPT                  #}
    {# ======================= #}
    <script>
        window.craftCookieBanner = {
            siteId: {{ currentSite.id }},
            siteHandle: `{{ currentSite.handle }}`,
            siteName: `{{ currentSite.handle }}`,
            csrfTokenValue: `{{ craft.app.request.getCsrfToken() }}`
        }
    </script>

    {# ======================= #}
    {# THEME                   #}
    {# ======================= #}
    {% set bannerBorderRadiusOptions = {
        "square": "0px",
        "rounded": "10px",
        "extra-rounded": "25px"
    } %}

    {% set bannerElementBorderRadiusOptions = {
        "square": "0px",
        "rounded": "8px",
        "extra-rounded": "15px"
    } %}

    {% set controlRadiusOptions = {
        "square": "0px",
        "rounded": "5px",
        "extra-rounded": "50px"
    } %}

    {% set buttonSizeOptions = {
        "small": "6px 16px",
        "medium": "8px 20px",
        "large": "12px 24px"
    } %}

    <style>
        :root {
            --ccb-banner-title-font: {{ appearance.titleFont|raw }};
            --ccb-banner-text-font: {{ appearance.textFont|raw }};
            --ccb-banner-border-radius: {{ bannerBorderRadiusOptions[appearance.bannerStyle] }};
            --ccb-banner-background: {{ "#" ~ appearance.bannerBackground }};
            --ccb-banner-border-thickness: {{ appearance.bannerBorderThickness ~ "px" }};
            --ccb-banner-border-color: {{ "#" ~ appearance.bannerBorderColor }};

            --ccb-title-color: {{ "#" ~ appearance.titleColor }};
            --ccb-text-color: {{ "#" ~ appearance.textColor }};

            --ccb-link-color: {{ "#" ~ appearance.linkColor }};
            --ccb-link-hover-color: {{ "#" ~ appearance.linkHoverColor }};

            --ccb-button-background: {{ "#" ~ appearance.buttonBackground }};
            --ccb-button-color: {{ "#" ~ appearance.buttonColor }};
            --ccb-button-border-radius: {{ controlRadiusOptions[appearance.bannerStyle] }};
            --ccb-button-border-thickness: {{ appearance.buttonBorderThickness ~ "px" }};
            --ccb-button-padding: {{ buttonSizeOptions[appearance.buttonSize] }};
            --ccb-button-border-color: {{ "#" ~ appearance.buttonBorderColor }};
            --ccb-button-hover-background: {{ "#" ~ appearance.buttonHoverBackground }};
            --ccb-button-hover-color: {{ "#" ~ appearance.buttonHoverColor }};
            --ccb-button-hover-border-color: {{ "#" ~ appearance.buttonHoverBorderColor }};

            --ccb-toggle-border-radius: {{ controlRadiusOptions[appearance.bannerStyle] }};
            --ccb-toggle-background-color-off: {{ "#" ~ appearance.toggleBackgroundOff }};
            --ccb-toggle-background-color-on: {{ "#" ~ appearance.toggleBackgroundOn }};
            --ccb-toggle-color: {{ "#" ~ appearance.toggleColor }};

            --ccb-cookie-group-title-color: {{ "#" ~ appearance.cookieGroupTitleColor }};
            --ccb-cookie-group-text-color: {{ "#" ~ appearance.cookieGroupTextColor }};

            --ccb-cookie-group-link-color: {{ "#" ~ appearance.cookieGroupLinkColor }};
            --ccb-cookie-group-link-hover-color: {{ "#" ~ appearance.cookieGroupLinkHoverColor }};
            --ccb-cookie-group-background: {{ "#" ~ appearance.cookieGroupBackground }};
            --ccb-cookie-group-border-thickness: {{ appearance.cookieGroupBorderThickness ~ "px" }};
            --ccb-cookie-group-border-color: {{ "#" ~ appearance.cookieGroupBorderColor }};
            --ccb-cookie-group-border-radius: {{ bannerElementBorderRadiusOptions[appearance.bannerStyle] }};
            --ccb-cookie-group-hover-background: {{ "#" ~ appearance.cookieGroupHoverBackground }};
            --ccb-cookie-group-hover-border-color: {{ "#" ~ appearance.cookieGroupHoverBorderColor }};

            --ccb-cookie-table-title-color: {{ "#" ~ appearance.cookieTableTitleColor }};
            --ccb-cookie-table-text-color: {{ "#" ~ appearance.cookieTableTextColor }};
            --ccb-cookie-table-background: {{ "#" ~ appearance.cookieTableBackground }};
            --ccb-cookie-table-border-thickness: {{ appearance.cookieTableBorderThickness ~ "px" }};
            --ccb-cookie-table-border-color: {{ "#" ~ appearance.cookieTableBorderColor }};
            --ccb-cookie-table-border-radius: {{ bannerElementBorderRadiusOptions[appearance.bannerStyle] }};

            {{ appearance.css|raw }}
        }
    </style>
</cookie-banner>
