{# ======================= #}
{# PROPERTIES              #}
{# ======================= #}
{% set settings = settings|default("") %}
{% set banner = banner|default("") %}

{# ======================= #}
{# TEMPLATE                #}
{# ======================= #}
<cookie-banner
    id="ccb-cookie-banner" 
    class="ccb-cookie-banner {{ settings.cookieBannerPosition }}"
    data-show-cookie-categories="{{ settings.showCookieCategoriesPreview }}"
    data-preferences-action="{{ settings.preferencesAction }}"
    data-lenis-prevent
>
    <div class="ccb-cookie-banner-preview">
        <div class="ccb-cookie-banner-intro">
            <h2 class="ccb-typo-h2">{{ banner.title }}</h2>

            <p class="ccb-typo-body-md">{{ banner.text }}</p>

            <ul class="ccb-cookie-banner-legal-links-list">
                <li class="ccb-cookie-banner-legal-links-list-item">
                    <a 
                        href="{{ banner.privacyPolicyLinkURL }}" 
                        class="ccb-typo-body-md"
                    >
                        {{ banner.privacyPolicyLinkLabel|default("Privacy policy") }}
                    </a>
                </li>

                <li class="ccb-cookie-banner-legal-links-list-item">
                    <a 
                        href="{{ banner.cookiePolicyLinkURL }}" 
                        class="ccb-typo-body-md"
                    >
                        {{ banner.cookiePolicyLinkLabel|default("Cookie policy") }}
                    </a>
                </li>

                <li class="ccb-cookie-banner-legal-links-list-item">
                    <a data-determine-preferences-link class="ccb-typo-body-md">
                        {{ settings.showCookieCategoriesPreview ? banner.detailedPreferencesButtonLabel : banner.determinePreferencesButtonLabel }}
                    </a>
                </li>
            </ul>
        </div>

        <ul data-cookie-categories class="ccb-cookie-banner-categories-list">
            <li class="ccb-cookie-banner-categories-list-item">
                <p class="ccb-typo-h3">{{ banner.necessaryCookiesLabel }}</p>

                <label class="ccb-lightswitch">
                    <input type="checkbox" data-model="essentialCookies" disabled checked>
                </label>
            </li>

            <li class="ccb-cookie-banner-categories-list-item">
                <p class="ccb-typo-h3">{{ banner.preferenceCookiesLabel }}</p>

                <label class="ccb-lightswitch">
                    <input type="checkbox" data-model="functionalCookies">
                </label>
            </li>

            <li class="ccb-cookie-banner-categories-list-item">
                <p class="ccb-typo-h3">{{ banner.analyticalCookiesLabel }}</p>

                <label class="ccb-lightswitch">
                    <input type="checkbox" data-model="analyticalCookies">
                </label>
            </li>

            <li class="ccb-cookie-banner-categories-list-item">
                <p class="ccb-typo-h3">{{ banner.marketingCookiesLabel }}</p>

                <label class="ccb-lightswitch">
                    <input type="checkbox" data-model="advertisementCookies">
                </label>
            </li>

            <li class="ccb-cookie-banner-categories-list-item">
                <p class="ccb-typo-h3">{{ banner.uncategorizedCookiesLabel }}</p>

                <label class="ccb-lightswitch">
                    <input type="checkbox" data-model="personalizationCookies">
                </label>
            </li>
        </ul>

        <div data-detailed-settings class="ccb-cookie-banner-details">
            {% embed "cookie-banner/components/_cookiesCategory" with { 
                title: banner.necessaryCookiesTitle,
                description: banner.necessaryCookiesDefinition,
                cookies: banner.necessaryCookies
            } %}
                {% block lightswitch %}
                    <label class="ccb-lightswitch">
                        <input 
                            id="detailed-settings-essential-cookies" 
                            data-model="essentialCookies" 
                            type="checkbox" 
                            checked
                            disabled 
                        />
                    </label>
                {% endblock %}
            {% endembed %}

            {% embed "cookie-banner/components/_cookiesCategory" with { 
                title: banner.preferenceCookiesTitle,
                description: banner.preferenceCookiesDefinition,
                cookies: banner.preferenceCookies
            } %}
                {% block lightswitch %}
                    <label class="ccb-lightswitch">
                        <input 
                            id="detailed-settings-functional-cookies" 
                            data-model="functionalCookies"
                            type="checkbox" 
                        />
                    </label>
                {% endblock %}
            {% endembed %}

            {% embed "cookie-banner/components/_cookiesCategory" with { 
                title: banner.analyticalCookiesTitle,
                description: banner.analyticalCookiesDefinition,
                cookies: banner.analyticalCookies
            } %}
                {% block lightswitch %}
                    <label class="ccb-lightswitch">
                        <input 
                            id="detailed-settings-analytical-cookies" 
                            data-model="analyticalCookies"
                            type="checkbox" 
                        />
                    </label>
                {% endblock %}
            {% endembed %}

            {% embed "cookie-banner/components/_cookiesCategory" with { 
                title: banner.marketingCookiesTitle,
                description: banner.marketingCookiesDefinition,
                cookies: banner.marketingCookies
            } %}
                {% block lightswitch %}
                    <label class="ccb-lightswitch">
                        <input 
                            id="detailed-settings-advertisement-cookies" 
                            data-model="advertisementCookies"
                            type="checkbox" 
                        />
                    </label>
                {% endblock %}
            {% endembed %}

            {% embed "cookie-banner/components/_cookiesCategory" with { 
                title: banner.uncategorizedCookiesTitle,
                description: banner.uncategorizedCookiesDefinition,
                cookies: banner.uncategorizedCookies
            } %}
                {% block lightswitch %}
                    <label class="ccb-lightswitch">
                        <input 
                            id="detailed-settings-personalization-cookies" 
                            data-model="personalizationCookies"
                            type="checkbox" 
                        />
                    </label>
                {% endblock %}
            {% endembed %}
        </div>
    </div>

    <div class="ccb-cookie-banner-action-buttons">
        <button data-refuse-all-button class="ccb-button ccb-typo-button">
            {{ banner.refuseAllButtonLabel }}
        </button>

        <button 
            data-determine-preferences-button
            class="ccb-button ccb-typo-button"
        >
            {{ settings.showCookieCategoriesPreview ? banner.detailedPreferencesButtonLabel : banner.determinePreferencesButtonLabel }}
        </button>

        <button 
            data-accept-selected-button 
            class="ccb-button ccb-typo-button"
        >
            {{ banner.acceptSelectedButtonLabel }}
        </button>

        <button data-accept-all-button class="ccb-button ccb-typo-button">
            {{ banner.acceptAllButtonLabel }}
        </button>
    </div>
</cookie-banner>

<script>
    window.craftCookieBanner = {
        siteId: {{ currentSite.id }},
        siteHandle: `{{ currentSite.handle }}`,
        siteName: `{{ currentSite.handle }}`,
        csrfTokenValue: `{{ craft.app.request.getCsrfToken() }}`
    }
</script>

{# ======================= #}
{# THEME                   #}
{# ======================= #}
{% set bannerBorderRadiusOptions = {
    "square": "0px",
    "rounded": "10px",
    "extra-rounded": "25px"
} %}

{% set bannerElementBorderRadiusOptions = {
    "square": "0px",
    "rounded": "8px",
    "extra-rounded": "15px"
} %}

{% set controlRadiusOptions = {
    "square": "0px",
    "rounded": "5px",
    "extra-rounded": "50px"
} %}

{% set buttonSizeOptions = {
    "small": "6px 16px",
    "medium": "8px 20px",
    "large": "12px 24px"
} %}

<style>
    :root {
        --ccb-banner-title-font: {{ settings.titleFont|raw }};
        --ccb-banner-text-font: {{ settings.textFont|raw }};
        --ccb-banner-border-radius: {{ bannerBorderRadiusOptions[settings.bannerStyle] }};
        --ccb-banner-background: {{ "#" ~ settings.bannerBackground }};
        --ccb-banner-border-thickness: {{ settings.bannerBorderThickness ~ "px" }};
        --ccb-banner-border-color: {{ "#" ~ settings.bannerBorderColor }};

        --ccb-title-color: {{ "#" ~ settings.titleColor }};
        --ccb-text-color: {{ "#" ~ settings.textColor }};

        --ccb-link-color: {{ "#" ~ settings.linkColor }};
        --ccb-link-hover-color: {{ "#" ~ settings.linkHoverColor }};

        --ccb-button-background: {{ "#" ~ settings.buttonBackground }};
        --ccb-button-color: {{ "#" ~ settings.buttonColor }};
        --ccb-button-border-radius: {{ controlRadiusOptions[settings.bannerStyle] }};
        --ccb-button-border-thickness: {{ settings.buttonBorderThickness ~ "px" }};
        --ccb-button-padding: {{ buttonSizeOptions[settings.buttonSize] }};
        --ccb-button-border-color: {{ "#" ~ settings.buttonBorderColor }};
        --ccb-button-hover-background: {{ "#" ~ settings.buttonHoverBackground }};
        --ccb-button-hover-color: {{ "#" ~ settings.buttonHoverColor }};
        --ccb-button-hover-border-color: {{ "#" ~ settings.buttonHoverBorderColor }};

        --ccb-toggle-border-radius: {{ controlRadiusOptions[settings.bannerStyle] }};
        --ccb-toggle-background-color-off: {{ "#" ~ settings.toggleBackgroundOff }};
        --ccb-toggle-background-color-on: {{ "#" ~ settings.toggleBackgroundOn }};
        --ccb-toggle-color: {{ "#" ~ settings.toggleColor }};

        --ccb-cookie-group-title-color: {{ "#" ~ settings.cookieGroupTitleColor }};
        --ccb-cookie-group-text-color: {{ "#" ~ settings.cookieGroupTextColor }};

        --ccb-cookie-group-link-color: {{ "#" ~ settings.cookieGroupLinkColor }};
        --ccb-cookie-group-link-hover-color: {{ "#" ~ settings.cookieGroupLinkHoverColor }};
        --ccb-cookie-group-background: {{ "#" ~ settings.cookieGroupBackground }};
        --ccb-cookie-group-border-thickness: {{ settings.cookieGroupBorderThickness ~ "px" }};
        --ccb-cookie-group-border-color: {{ "#" ~ settings.cookieGroupBorderColor }};
        --ccb-cookie-group-border-radius: {{ bannerElementBorderRadiusOptions[settings.bannerStyle] }};
        --ccb-cookie-group-hover-background: {{ "#" ~ settings.cookieGroupHoverBackground }};
        --ccb-cookie-group-hover-border-color: {{ "#" ~ settings.cookieGroupHoverBorderColor }};

        --ccb-cookie-table-title-color: {{ "#" ~ settings.cookieTableTitleColor }};
        --ccb-cookie-table-text-color: {{ "#" ~ settings.cookieTableTextColor }};
        --ccb-cookie-table-background: {{ "#" ~ settings.cookieTableBackground }};
        --ccb-cookie-table-border-thickness: {{ settings.cookieTableBorderThickness ~ "px" }};
        --ccb-cookie-table-border-color: {{ "#" ~ settings.cookieTableBorderColor }};
        --ccb-cookie-table-border-radius: {{ bannerElementBorderRadiusOptions[settings.bannerStyle] }};
    }
</style>