{% set cookieGroups = [
    {
        title: banner.necessaryCookiesTitle,
        label: banner.necessaryCookiesLabel,
        definition: banner.necessaryCookiesDefinition,
        cookies: banner.necessaryCookies
    },
    {
        title: banner.preferenceCookiesTitle,
        label: banner.preferenceCookiesLabel,
        definition: banner.preferenceCookiesDefinition,
        cookies: banner.preferenceCookies
    },
    {
        title: banner.analyticalCookiesTitle,
        label: banner.analyticalCookiesLabel,
        definition: banner.analyticalCookiesDefinition,
        cookies: banner.analyticalCookies
    },
    {
        title: banner.marketingCookiesTitle,
        label: banner.marketingCookiesLabel,
        definition: banner.marketingCookiesDefinition,
        cookies: banner.marketingCookies
    },
    {
        title: banner.uncategorizedCookiesTitle,
        label: banner.uncategorizedCookiesLabel,
        definition: banner.uncategorizedCookiesDefinition,
        cookies: banner.uncategorizedCookies
    }
] %}

{% if settings.cookieListStyle == "grouped" %}
    {# Multiple tables with headers #}
    {% for group in cookieGroups %}
        {% if group.cookies is not empty %}
            <h3>{{ group.title }}</h3>
            <p>{{ group.definition }}</p>
            <table class="ccb-cookies-list">
                <thead>
                    <tr>
                        <th>{{ "Name"|t('cookie-banner') }}</th>
                        <th>{{ "Type"|t('cookie-banner') }}</th>
                        <th>{{ "Purpose"|t('cookie-banner') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cookie in group.cookies %}
                        <tr>
                            <td>{{ cookie.name }}</td>
                            <td>{{ cookie.purpose }}</td>
                            <td>{{ cookie.expiration }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endfor %}
{% else %}
    {# One table with cookie type column #}
    <table class="ccb-cookies-list">
        <thead>
            <tr>
                <th>{{ "Name"|t('cookie-banner') }}</th>
                <th>{{ "Type"|t('cookie-banner') }}</th>
                <th>{{ "Purpose"|t('cookie-banner') }}</th>
                <th>{{ "Expiration"|t('cookie-banner') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for group in cookieGroups %}
                {% if group.cookies is not empty %}
                    {% for cookie in group.cookies %}
                        <tr>
                            <td>{{ cookie.name }}</td>
                            <td>{{ group.label }}</td>
                            <td>{{ cookie.purpose }}</td>
                            <td>{{ cookie.expiration }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endif %}