{% set cookieGroups = [
    {
        'cookies': banner.essentialCookies,
        'label': banner.essentialCookiesLabel,
        'title': banner.essentialCookiesTitle,
        'definition': banner.essentialCookiesDefinition
    },
    {
        'cookies': banner.functionalCookies,
        'label': banner.functionalCookiesLabel,
        'title': banner.functionalCookiesTitle,
        'definition': banner.functionalCookiesDefinition
    },
    {
        'cookies': banner.analyticalCookies,
        'label': banner.analyticalCookiesLabel,
        'title': banner.analyticalCookiesTitle,
        'definition': banner.analyticalCookiesDefinition
    },
    {
        'cookies': banner.advertisementCookies,
        'label': banner.advertisementCookiesLabel,
        'title': banner.advertisementCookiesTitle,
        'definition': banner.advertisementCookiesDefinition
    },
    {
        'cookies': banner.personalizationCookies,
        'label': banner.personalizationCookiesLabel,
        'title': banner.personalizationCookiesTitle,
        'definition': banner.personalizationCookiesDefinition
    }
] %}

{% if settings.cookieListStyle == "grouped" %}
    {# Grouped style: One table with cookie type column #}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Purpose</th>
                <th>Expiration</th>
            </tr>
        </thead>
        <tbody>
            {% for group in cookieGroups %}
                {% if group.cookies is not empty %}
                    {% for cookie in group.cookies %}
                        <tr>
                            <td>{{ cookie.name }}</td>
                            <td>{{ group.label }}</td>
                            <td>{{ cookie.purpose }}</td>
                            <td>{{ cookie.expiration }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% else %}
    {# Separated style: Multiple tables with headers #}
    {% for group in cookieGroups %}
        {% if group.cookies is not empty %}
            <h3>{{ group.title }}</h3>
            <p>{{ group.definition }}</p>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Purpose</th>
                        <th>Expiration</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cookie in group.cookies %}
                        <tr>
                            <td>{{ cookie.name }}</td>
                            <td>{{ cookie.purpose }}</td>
                            <td>{{ cookie.expiration }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endfor %}
{% endif %}