{% set categories = [
    {
        title: content.necessaryCookiesTitle,
        label: content.necessaryCookiesLabel,
        definition: content.necessaryCookiesDefinition,
        cookies: content.necessaryCookies
    },
    {
        title: content.preferenceCookiesTitle,
        label: content.preferenceCookiesLabel,
        definition: content.preferenceCookiesDefinition,
        cookies: content.preferenceCookies
    },
    {
        title: content.analyticalCookiesTitle,
        label: content.analyticalCookiesLabel,
        definition: content.analyticalCookiesDefinition,
        cookies: content.analyticalCookies
    },
    {
        title: content.marketingCookiesTitle,
        label: content.marketingCookiesLabel,
        definition: content.marketingCookiesDefinition,
        cookies: content.marketingCookies
    },
    {
        title: content.uncategorizedCookiesTitle,
        label: content.uncategorizedCookiesLabel,
        definition: content.uncategorizedCookiesDefinition,
        cookies: content.uncategorizedCookies
    }
] %}

{% if appearance.cookieListStyle == "grouped" %}
    {# Multiple tables with headers #}
    {% for category in categories %}
        {% if category.cookies is not empty %}
            <h3>{{ category.title }}</h3>
            <p>{{ category.definition }}</p>
            <table class="ccb-cookies-list">
                <thead>
                    <tr>
                        <th>{{ "name"|t('cookie-banner') }}</th>
                        <th>{{ "purpose"|t('cookie-banner') }}</th>
                        <th>{{ "expiration"|t('cookie-banner') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cookie in category.cookies %}
                        <tr>
                            <td>{{ cookie.name }}</td>
                            <td>{{ cookie.purpose }}</td>
                            <td>{{ cookie.expiration }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endfor %}
{% else %}
    {# One table with cookie type column #}
    <table class="ccb-cookies-list">
        <thead>
            <tr>
                <th>{{ "name"|t('cookie-banner') }}</th>
                <th>{{ "type"|t('cookie-banner') }}</th>
                <th>{{ "purpose"|t('cookie-banner') }}</th>
                <th>{{ "expiration"|t('cookie-banner') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
                {% if category.cookies is not empty %}
                    {% for cookie in category.cookies %}
                        <tr>
                            <td>{{ cookie.name }}</td>
                            <td>{{ category.label }}</td>
                            <td>{{ cookie.purpose }}</td>
                            <td>{{ cookie.expiration }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endif %}